<a href="https://colab.research.google.com/github/maulikam/portfolio-service/blob/master/_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Path to your CSV file in Google Drive
file_path = '/content/drive/My Drive/stocks_data/all_stocks_historical_data.csv'


# for local connect
# file_path = 'all_stocks_historical_data.csv'




# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

df = df.sort_values(by=['instrument_token', 'timestamps'])

# Display the first few rows of the dataframe
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,id,tradingsymbol,instrument_token,timestamps,open_price,high_price,low_price,close_price,volume,oi,created_at
287554,4374999,GOLDSTAR-SM,257,2019-02-21 00:00:00,1.30,1.30,1.15,1.25,405000,0,2024-04-04 11:24:44.205169
287555,4375001,GOLDSTAR-SM,257,2019-02-25 00:00:00,1.15,1.30,1.15,1.30,270000,0,2024-04-04 11:24:44.205172
287556,4375008,GOLDSTAR-SM,257,2019-03-07 00:00:00,1.20,1.20,1.20,1.20,135000,0,2024-04-04 11:24:44.205173
287557,4375010,GOLDSTAR-SM,257,2019-03-19 00:00:00,1.15,1.25,1.15,1.25,540000,0,2024-04-04 11:24:44.205174
287558,4375013,GOLDSTAR-SM,257,2019-04-22 00:00:00,1.15,1.15,1.15,1.15,135000,0,2024-04-04 11:24:44.205174

In [2]:
def print_nan_counts(df):
    """
    This function checks for NaN values in each column of the given DataFrame
    and prints the column names along with their NaN counts and percentage of total records.

    Parameters:
    df (pandas.DataFrame): The DataFrame to check for NaN values.
    """
    total_records = len(df)

    # Check for NaN values in each column and get their count
    nan_counts = df.isna().sum()

    # Filter columns that have NaN values and their counts
    nan_columns = nan_counts[nan_counts > 0]

    # Calculate the percentage of NaN values in each column
    nan_percentages = (nan_columns / total_records) * 100

    # Print each column name and its NaN count and percentage explicitly
    if nan_columns.empty:
        print("No NaN values found.")
    else:
        for column, count in nan_columns.items():
            percentage = nan_percentages[column]
            print(f'{column}: {count} ({percentage:.2f}%)')

In [3]:
# check nan values in data frame
print_nan_counts(df)

No NaN values found.

In [4]:
# List of trading symbols to filter
symbols = ['INDIA VIX', 'NIFTY 100', 'NIFTY 200', 'NIFTY 50', 'NIFTY 500',
       'NIFTY ALPHA 50', 'NIFTY ALPHALOWVOL', 'NIFTY AUTO', 'NIFTY BANK',
       'NIFTY COMMODITIES', 'NIFTY CONSR DURBL', 'NIFTY CONSUMPTION',
       'NIFTY CPSE', 'NIFTY DIV OPPS 50', 'NIFTY ENERGY', 'NIFTY FIN SERVICE',
       'NIFTY FINSRV25 50', 'NIFTY FMCG',
       'NIFTY HEALTHCARE', 'NIFTY INDIA MFG',
       'NIFTY INFRA', 'NIFTY IT',
       'NIFTY MEDIA', 'NIFTY METAL', 'NIFTY MICROCAP250', 'NIFTY MID SELECT',
       'NIFTY MIDCAP 100', 'NIFTY MIDCAP 150', 'NIFTY MIDCAP 50',
       'NIFTY MIDSML 400', 'NIFTY MNC', 'NIFTY NEXT 50',
       'NIFTY PHARMA', 'NIFTY PSE', 'NIFTY PSU BANK', 'NIFTY PVT BANK',
       'NIFTY REALTY', 'NIFTY SERV SECTOR', 'NIFTY SMLCAP 100',
       'NIFTY SMLCAP 250', 'NIFTY SMLCAP 50', 'NIFTY TOTAL MKT',
       'NIFTY100 EQL WGT', 'NIFTY100 ESG', 'NIFTY100 LIQ 15',
       'NIFTY100 LOWVOL30', 'NIFTY100 QUALTY30',
       'NIFTY200 QUALTY30', 'NIFTY50 DIV POINT', 'NIFTY50 VALUE 20', 'NIFTY500 MULTICAP']

# Filter the dataframe for the given symbols
filtered_df = df[df['tradingsymbol'].isin(symbols)]

# Pivot the dataframe to get each trading symbol as a column
pivoted_df = filtered_df.pivot(index='timestamps', columns='tradingsymbol', values='close_price')

# Display the first few rows of the pivoted dataframe
print(pivoted_df.head())

tradingsymbol        INDIA VIX  NIFTY 100  NIFTY 200  NIFTY 50  NIFTY 500  \
timestamps
2019-01-02 00:00:00      16.39   11032.00    5712.10  10792.50    9103.40
2019-01-03 00:00:00      16.79   10914.80    5652.95  10672.25    9014.79
2019-01-04 00:00:00      16.16   10966.15    5680.50  10727.35    9054.90
2019-01-07 00:00:00      16.30   11005.10    5699.10  10771.80    9081.15
2019-01-08 00:00:00      15.70   11031.30    5710.15  10802.15    9098.65

tradingsymbol        NIFTY ALPHA 50  NIFTY ALPHALOWVOL  NIFTY AUTO  \
timestamps
2019-01-02 00:00:00        12108.15           11479.66     8902.65
2019-01-03 00:00:00        11993.65           11411.15     8767.35
2019-01-04 00:00:00        11945.25           11420.46     8809.35
2019-01-07 00:00:00        11982.10           11483.23     8820.00
2019-01-08 00:00:00        11948.90           11440.41     8859.65

tradingsymbol        NIFTY BANK  NIFTY COMMODITIES  ...  NIFTY TOTAL MKT  \
timestamps                                          ...
2019-01-02 00:00:00    27174.70            3364.10  ...          5053.45
2019-01-03 00:00:00    26959.85            3296.05  ...          5004.39
2019-01-04 00:00:00    27195.00            3331.15  ...          5026.03
2019-01-07 00:00:00    27304.55            3345.45  ...          5040.42
2019-01-08 00:00:00    27509.50            3345.85  ...          5049.93

tradingsymbol        NIFTY100 EQL WGT  NIFTY100 ESG  NIFTY100 LIQ 15  \
timestamps
2019-01-02 00:00:00          12968.00       2019.90          3756.55
2019-01-03 00:00:00          12821.60       1997.80          3702.40
2019-01-04 00:00:00          12892.95       2007.16          3758.35
2019-01-07 00:00:00          12908.25       2014.92          3739.00
2019-01-08 00:00:00          12940.55       2018.38          3798.25

tradingsymbol        NIFTY100 LOWVOL30  NIFTY100 QUALTY30  NIFTY200 QUALTY30  \
timestamps
2019-01-02 00:00:00            8508.29            2597.15            9363.51
2019-01-03 00:00:00            8437.40            2585.25            9296.46
2019-01-04 00:00:00            8450.45            2583.69            9268.54
2019-01-07 00:00:00            8484.45            2589.00            9301.26
2019-01-08 00:00:00            8468.50            2588.44            9300.14

tradingsymbol        NIFTY50 DIV POINT  NIFTY50 VALUE 20  NIFTY500 MULTICAP
timestamps
2019-01-02 00:00:00                NaN           5100.50            5717.68
2019-01-03 00:00:00                NaN           5048.45            5669.68
2019-01-04 00:00:00                NaN           5050.00            5691.40
2019-01-07 00:00:00                NaN           5079.25            5702.93
2019-01-08 00:00:00                NaN           5076.64            5711.17

[5 rows x 51 columns]

In [5]:
print(pivoted_df.columns)
print(df.columns)

Index(['INDIA VIX', 'NIFTY 100', 'NIFTY 200', 'NIFTY 50', 'NIFTY 500',
       'NIFTY ALPHA 50', 'NIFTY ALPHALOWVOL', 'NIFTY AUTO', 'NIFTY BANK',
       'NIFTY COMMODITIES', 'NIFTY CONSR DURBL', 'NIFTY CONSUMPTION',
       'NIFTY CPSE', 'NIFTY DIV OPPS 50', 'NIFTY ENERGY', 'NIFTY FIN SERVICE',
       'NIFTY FINSRV25 50', 'NIFTY FMCG', 'NIFTY HEALTHCARE',
       'NIFTY INDIA MFG', 'NIFTY INFRA', 'NIFTY IT', 'NIFTY MEDIA',
       'NIFTY METAL', 'NIFTY MICROCAP250', 'NIFTY MID SELECT',
       'NIFTY MIDCAP 100', 'NIFTY MIDCAP 150', 'NIFTY MIDCAP 50',
       'NIFTY MIDSML 400', 'NIFTY MNC', 'NIFTY NEXT 50', 'NIFTY PHARMA',
       'NIFTY PSE', 'NIFTY PSU BANK', 'NIFTY PVT BANK', 'NIFTY REALTY',
       'NIFTY SERV SECTOR', 'NIFTY SMLCAP 100', 'NIFTY SMLCAP 250',
       'NIFTY SMLCAP 50', 'NIFTY TOTAL MKT', 'NIFTY100 EQL WGT',
       'NIFTY100 ESG', 'NIFTY100 LIQ 15', 'NIFTY100 LOWVOL30',
       'NIFTY100 QUALTY30', 'NIFTY200 QUALTY30', 'NIFTY50 DIV POINT',
       'NIFTY50 VALUE 20', 'NIFTY500 MULTICAP'],
      dtype='object', name='tradingsymbol')
Index(['id', 'tradingsymbol', 'instrument_token', 'timestamps', 'open_price',
       'high_price', 'low_price', 'close_price', 'volume', 'oi', 'created_at'],
      dtype='object')

In [6]:
# Ensure timestamps is a column in pivoted_df for merging
pivoted_df.reset_index(inplace=True)

# Merge the two dataframes on 'timestamps' column
# Assuming you want to keep all rows and columns from the original df and just add the closing prices from pivoted_df
merged_df = pd.merge(df, pivoted_df, on='timestamps', how='left')

# Display the first few rows of the merged dataframe
print(merged_df.head())

        id tradingsymbol  instrument_token           timestamps  open_price  \
0  4374999   GOLDSTAR-SM               257  2019-02-21 00:00:00        1.30
1  4375001   GOLDSTAR-SM               257  2019-02-25 00:00:00        1.15
2  4375008   GOLDSTAR-SM               257  2019-03-07 00:00:00        1.20
3  4375010   GOLDSTAR-SM               257  2019-03-19 00:00:00        1.15
4  4375013   GOLDSTAR-SM               257  2019-04-22 00:00:00        1.15

   high_price  low_price  close_price  volume  oi  ... NIFTY TOTAL MKT  \
0        1.30       1.15         1.25  405000   0  ...         4930.74
1        1.30       1.15         1.30  270000   0  ...         4977.35
2        1.20       1.20         1.20  135000   0  ...         5116.97
3        1.25       1.15         1.25  540000   0  ...         5304.81
4        1.15       1.15         1.15  135000   0  ...         5319.33

   NIFTY100 EQL WGT  NIFTY100 ESG  NIFTY100 LIQ 15  NIFTY100 LOWVOL30  \
0          12423.20       2032.85          3617.15            8388.29
1          12558.00       2052.92          3664.60            8481.40
2          13029.40       2085.44          3787.45            8567.00
3          13435.40       2168.16          3953.20            8784.00
4          13488.65       2175.44          4060.10            8900.75

   NIFTY100 QUALTY30  NIFTY200 QUALTY30  NIFTY50 DIV POINT  NIFTY50 VALUE 20  \
0            2571.05            9334.25             129.48           5251.90
1            2610.50            9475.85             129.48           5347.45
2            2640.30            9559.15             133.53           5380.15
3            2715.55            9681.25             139.18           5536.05
4            2732.85            9789.50               0.00           5584.15

   NIFTY500 MULTICAP
0            5474.74
1            5531.90
2            5751.52
3            5939.11
4            5949.36

[5 rows x 62 columns]

In [7]:
# check nan values in data frame
print_nan_counts(merged_df)

INDIA VIX: 1475 (0.07%)
NIFTY 500: 1518 (0.07%)
NIFTY ALPHALOWVOL: 12090 (0.54%)
NIFTY DIV OPPS 50: 48401 (2.14%)
NIFTY FINSRV25 50: 23484 (1.04%)
NIFTY HEALTHCARE: 21844 (0.97%)
NIFTY INDIA MFG: 21844 (0.97%)
NIFTY INFRA: 48401 (2.14%)
NIFTY MICROCAP250: 21844 (0.97%)
NIFTY SERV SECTOR: 48401 (2.14%)
NIFTY SMLCAP 50: 3039 (0.13%)
NIFTY TOTAL MKT: 21844 (0.97%)
NIFTY100 ESG: 9296 (0.41%)
NIFTY50 DIV POINT: 52120 (2.31%)
NIFTY500 MULTICAP: 21844 (0.97%)

In [8]:
def fill_nan_values(df):
    """
    This function fills NaN values in each column of the given DataFrame
    with the mean of that column. If the column is entirely NaN, it fills with 0.

    Parameters:
    df (pandas.DataFrame): The DataFrame in which NaN values will be filled.
    """
    for column in df.columns:
        # Check if the column has NaN values
        if df[column].isna().sum() > 0:
            mean_value = df[column].mean()
            # If the mean is NaN (column is entirely NaN), set to 0 or another appropriate value
            if pd.isna(mean_value):
                df[column].fillna(0, inplace=True)
            else:
                df[column].fillna(mean_value, inplace=True)

    return df

# Using the function to fill NaN values in merged_df
merged_df_filled = fill_nan_values(merged_df)

In [9]:
# check nan values in data frame
print_nan_counts(merged_df)

No NaN values found.

In [10]:
def print_total_records(df):
    """
    This function prints the total number of records in the given DataFrame.

    Parameters:
    df (pandas.DataFrame): The DataFrame to check the total records of.
    """
    total_records = len(df)
    print(f'Total records: {total_records}')

print_total_records(merged_df)

Total records: 2259780

In [11]:
# Sort the dataframe by 'timestamps' column in ascending order (oldest to newest)
merged_df = merged_df.sort_values(by=['instrument_token', 'timestamps'])

# Display the first few rows of the sorted dataframe
merged_df.head()

,id,tradingsymbol,instrument_token,timestamps,open_price,high_price,low_price,close_price,volume,oi,...,NIFTY TOTAL MKT,NIFTY100 EQL WGT,NIFTY100 ESG,NIFTY100 LIQ 15,NIFTY100 LOWVOL30,NIFTY100 QUALTY30,NIFTY200 QUALTY30,NIFTY50 DIV POINT,NIFTY50 VALUE 20,NIFTY500 MULTICAP
0,4374999,GOLDSTAR-SM,257,2019-02-21 00:00:00,1.30,1.30,1.15,1.25,405000,0,...,4930.74,12423.20,2032.85,3617.15,8388.29,2571.05,9334.25,129.48,5251.90,5474.74
1,4375001,GOLDSTAR-SM,257,2019-02-25 00:00:00,1.15,1.30,1.15,1.30,270000,0,...,4977.35,12558.00,2052.92,3664.60,8481.40,2610.50,9475.85,129.48,5347.45,5531.90
2,4375008,GOLDSTAR-SM,257,2019-03-07 00:00:00,1.20,1.20,1.20,1.20,135000,0,...,5116.97,13029.40,2085.44,3787.45,8567.00,2640.30,9559.15,133.53,5380.15,5751.52
3,4375010,GOLDSTAR-SM,257,2019-03-19 00:00:00,1.15,1.25,1.15,1.25,540000,0,...,5304.81,13435.40,2168.16,3953.20,8784.00,2715.55,9681.25,139.18,5536.05,5939.11
4,4375013,GOLDSTAR-SM,257,2019-04-22 00:00:00,1.15,1.15,1.15,1.15,135000,0,...,5319.33,13488.65,2175.44,4060.10,8900.75,2732.85,9789.50,0.00,5584.15,5949.36

In [12]:
merged_df.tail()

,id,tradingsymbol,instrument_token,timestamps,open_price,high_price,low_price,close_price,volume,oi,...,NIFTY TOTAL MKT,NIFTY100 EQL WGT,NIFTY100 ESG,NIFTY100 LIQ 15,NIFTY100 LOWVOL30,NIFTY100 QUALTY30,NIFTY200 QUALTY30,NIFTY50 DIV POINT,NIFTY50 VALUE 20,NIFTY500 MULTICAP
2259775,3083580,SREEL,8150273,2024-03-28 00:00:00,283.00,288.15,270.55,276.40,17496,0,...,11363.90,29233.45,4366.65,6417.50,18143.90,5112.25,18598.05,220.590000,12211.75,13850.10
2259776,3083584,SREEL,8150273,2024-04-01 00:00:00,276.50,306.00,276.50,292.05,20563,0,...,11505.30,29595.75,4397.55,6446.20,18229.75,5142.00,18735.50,0.000000,12285.85,14072.80
2259777,3083588,SREEL,8150273,2024-04-02 00:00:00,293.55,300.05,287.95,296.65,20317,0,...,11553.70,29771.50,4399.50,6462.75,18217.95,5166.65,18842.30,0.000000,12244.55,14157.00
2259778,3083592,SREEL,8150273,2024-04-03 00:00:00,296.65,310.20,295.45,307.80,20637,0,...,11579.30,29787.10,4400.80,6477.70,18111.95,5163.30,18840.25,0.000000,12266.25,14212.30
2259779,3083598,SREEL,8150273,2024-04-04 00:00:00,309.40,318.10,304.35,306.00,10655,0,...,11625.15,29795.35,4414.35,6462.30,18125.80,5176.05,18829.75,108.005042,12287.35,14269.35

In [13]:
# Set the maximum number of columns to display to None (unlimited)
pd.options.display.max_columns = None

print(merged_df.tail())

              id tradingsymbol  instrument_token           timestamps  \
2259775  3083580         SREEL           8150273  2024-03-28 00:00:00
2259776  3083584         SREEL           8150273  2024-04-01 00:00:00
2259777  3083588         SREEL           8150273  2024-04-02 00:00:00
2259778  3083592         SREEL           8150273  2024-04-03 00:00:00
2259779  3083598         SREEL           8150273  2024-04-04 00:00:00

         open_price  high_price  low_price  close_price  volume  oi  \
2259775      283.00      288.15     270.55       276.40   17496   0
2259776      276.50      306.00     276.50       292.05   20563   0
2259777      293.55      300.05     287.95       296.65   20317   0
2259778      296.65      310.20     295.45       307.80   20637   0
2259779      309.40      318.10     304.35       306.00   10655   0

                         created_at  INDIA VIX  NIFTY 100  NIFTY 200  \
2259775  2024-04-04 11:20:04.641525      12.83   22920.70   12329.75
2259776  2024-04-04 11:20:04.641525      12.08   23107.15   12447.20
2259777  2024-04-04 11:20:04.641526      11.65   23138.55   12483.40
2259778  2024-04-04 11:20:04.641526      11.37   23136.60   12492.45
2259779  2024-04-04 11:20:04.641527      11.26   23234.55   12538.75

         NIFTY 50  NIFTY 500  NIFTY ALPHA 50  NIFTY ALPHALOWVOL  NIFTY AUTO  \
2259775  22326.90   20255.15        47200.30           26248.05    21419.10
2259776  22462.00   20492.55        48392.25           26344.25    21385.25
2259777  22453.30   20569.75        48855.40           26485.85    21614.25
2259778  22434.65   20605.70        49245.20           26349.15    21555.35
2259779  22541.20   20686.05        49453.40           26276.60    21661.15

         NIFTY BANK  NIFTY COMMODITIES  NIFTY CONSR DURBL  NIFTY CONSUMPTION  \
2259775    47124.60            8331.65           32337.50           10128.40
2259776    47578.25            8504.60           32517.70           10133.20
2259777    47545.45            8599.90           33122.65           10160.35
2259778    47624.25            8615.95           33145.05           10131.80
2259779    48126.20            8606.85           33290.30           10181.50

         NIFTY CPSE  NIFTY DIV OPPS 50  NIFTY ENERGY  NIFTY FIN SERVICE  \
2259775     5759.35            5719.85      39020.60           20989.10
2259776     5867.10            5784.70      39489.70           21198.40
2259777     5945.90            5811.10      39693.75           21150.95
2259778     6000.85            5843.55      39704.55           21197.25
2259779     5987.75            5841.10      39590.45           21401.60

         NIFTY FINSRV25 50  NIFTY FMCG  NIFTY HEALTHCARE  NIFTY INDIA MFG  \
2259775           22713.50    53949.20          12059.30         12240.00
2259776           22965.45    53889.15          12187.80         12374.65
2259777           22934.75    54096.95          12165.40         12517.80
2259778           23022.60    53866.70          12136.60         12512.35
2259779           23129.45    53714.75          12143.15         12499.65

         NIFTY INFRA  NIFTY IT  NIFTY MEDIA  NIFTY METAL  NIFTY MICROCAP250  \
2259775      8336.00  34898.15      1795.85      8257.20           18958.85
2259776      8423.05  35042.80      1880.05      8562.70           19604.30
2259777      8455.25  34793.95      1914.90      8690.85           19939.55
2259778      8448.20  35047.40      1925.85      8691.20           20252.00
2259779      8409.80  35449.35      1923.55      8699.10           20368.30

         NIFTY MID SELECT  NIFTY MIDCAP 100  NIFTY MIDCAP 150  \
2259775          10525.30          48075.75          17766.00
2259776          10689.45          48912.05          18084.70
2259777          10777.20          49479.30          18286.35
2259778          10814.60          49736.70          18378.60
2259779          10828.30          49776.70          18395.15

         NIFTY MIDCAP 50  NIFTY MIDSML 400  NIFTY MNC  NIFTY NEXT 50  \
2259775         13526.50          16549.90   25873.65       60624.30
2259776         13772.60          16917.40   26113.45       61634.60
2259777         13922.60          17098.55   26347.65       62254.10
2259778         13955.85          17217.95   26290.45       62423.75
2259779         13951.85          17268.70   26291.90       62253.15

         NIFTY PHARMA  NIFTY PSE  NIFTY PSU BANK  NIFTY PVT BANK  \
2259775      18996.15    9122.15         7007.25        23555.85
2259776      19207.90    9292.35         7113.25        23797.90
2259777      19185.15    9447.35         7176.05        23782.25
2259778      19153.05    9528.35         7303.85        23746.90
2259779      19140.35    9480.55         7269.30        24043.60

         NIFTY REALTY  NIFTY SERV SECTOR  NIFTY SMLCAP 100  NIFTY SMLCAP 250  \
2259775        900.65           27843.65          15270.45          14330.50
2259776        939.90           28050.85          15768.40          14762.15
2259777        949.35           27949.45          15960.95          14908.30
2259778        924.85           28029.25          16146.40          15065.35
2259779        925.80           28277.25          16232.05          15166.10

         NIFTY SMLCAP 50  NIFTY TOTAL MKT  NIFTY100 EQL WGT  NIFTY100 ESG  \
2259775          7029.95         11363.90          29233.45       4366.65
2259776          7230.95         11505.30          29595.75       4397.55
2259777          7319.60         11553.70          29771.50       4399.50
2259778          7398.35         11579.30          29787.10       4400.80
2259779          7449.85         11625.15          29795.35       4414.35

         NIFTY100 LIQ 15  NIFTY100 LOWVOL30  NIFTY100 QUALTY30  \
2259775          6417.50           18143.90            5112.25
2259776          6446.20           18229.75            5142.00
2259777          6462.75           18217.95            5166.65
2259778          6477.70           18111.95            5163.30
2259779          6462.30           18125.80            5176.05

         NIFTY200 QUALTY30  NIFTY50 DIV POINT  NIFTY50 VALUE 20  \
2259775           18598.05         220.590000          12211.75
2259776           18735.50           0.000000          12285.85
2259777           18842.30           0.000000          12244.55
2259778           18840.25           0.000000          12266.25
2259779           18829.75         108.005042          12287.35

         NIFTY500 MULTICAP
2259775           13850.10
2259776           14072.80
2259777           14157.00
2259778           14212.30
2259779           14269.35

In [14]:
print(merged_df.columns)

Index(['id', 'tradingsymbol', 'instrument_token', 'timestamps', 'open_price',
       'high_price', 'low_price', 'close_price', 'volume', 'oi', 'created_at',
       'INDIA VIX', 'NIFTY 100', 'NIFTY 200', 'NIFTY 50', 'NIFTY 500',
       'NIFTY ALPHA 50', 'NIFTY ALPHALOWVOL', 'NIFTY AUTO', 'NIFTY BANK',
       'NIFTY COMMODITIES', 'NIFTY CONSR DURBL', 'NIFTY CONSUMPTION',
       'NIFTY CPSE', 'NIFTY DIV OPPS 50', 'NIFTY ENERGY', 'NIFTY FIN SERVICE',
       'NIFTY FINSRV25 50', 'NIFTY FMCG', 'NIFTY HEALTHCARE',
       'NIFTY INDIA MFG', 'NIFTY INFRA', 'NIFTY IT', 'NIFTY MEDIA',
       'NIFTY METAL', 'NIFTY MICROCAP250', 'NIFTY MID SELECT',
       'NIFTY MIDCAP 100', 'NIFTY MIDCAP 150', 'NIFTY MIDCAP 50',
       'NIFTY MIDSML 400', 'NIFTY MNC', 'NIFTY NEXT 50', 'NIFTY PHARMA',
       'NIFTY PSE', 'NIFTY PSU BANK', 'NIFTY PVT BANK', 'NIFTY REALTY',
       'NIFTY SERV SECTOR', 'NIFTY SMLCAP 100', 'NIFTY SMLCAP 250',
       'NIFTY SMLCAP 50', 'NIFTY TOTAL MKT', 'NIFTY100 EQL WGT',
       'NIFTY100 ESG', 'NIFTY100 LIQ 15', 'NIFTY100 LOWVOL30',
       'NIFTY100 QUALTY30', 'NIFTY200 QUALTY30', 'NIFTY50 DIV POINT',
       'NIFTY50 VALUE 20', 'NIFTY500 MULTICAP'],
      dtype='object')

In [15]:
# Ensure 'timestamps' column is in datetime format
merged_df['timestamps'] = pd.to_datetime(merged_df['timestamps'])

# Sort the DataFrame by 'instrument_token' and 'timestamps' to ensure chronological order for each instrument
merged_df = merged_df.sort_values(by=['instrument_token', 'timestamps'])

# Calculate the percentage change in 'close_price' for each 'instrument_token'
# This will compare each day's close price with the previous day's close price for the same instrument_token
merged_df['%changedaily'] = merged_df.groupby('instrument_token')['close_price'].pct_change() * 100

# Display the first few rows to confirm the new column has been added correctly
print(merged_df.head())

        id tradingsymbol  instrument_token timestamps  open_price  high_price  \
0  4374999   GOLDSTAR-SM               257 2019-02-21        1.30        1.30
1  4375001   GOLDSTAR-SM               257 2019-02-25        1.15        1.30
2  4375008   GOLDSTAR-SM               257 2019-03-07        1.20        1.20
3  4375010   GOLDSTAR-SM               257 2019-03-19        1.15        1.25
4  4375013   GOLDSTAR-SM               257 2019-04-22        1.15        1.15

   low_price  close_price  volume  oi                  created_at  INDIA VIX  \
0       1.15         1.25  405000   0  2024-04-04 11:24:44.205169      16.05
1       1.15         1.30  270000   0  2024-04-04 11:24:44.205172      15.36
2       1.20         1.20  135000   0  2024-04-04 11:24:44.205173      15.29
3       1.15         1.25  540000   0  2024-04-04 11:24:44.205174      16.49
4       1.15         1.15  135000   0  2024-04-04 11:24:44.205174      24.05

   NIFTY 100  NIFTY 200  NIFTY 50  NIFTY 500  NIFTY ALPHA 50  \
0   10925.05    5617.25  10789.85    8901.70        11568.75
1   11021.75    5666.20  10880.10    8983.85        11658.05
2   11244.05    5798.75  11058.20    9225.35        11835.35
3   11696.50    6025.35  11532.40    9570.15        12002.00
4   11745.90    6041.30  11594.45    9599.79        12143.90

   NIFTY ALPHALOWVOL  NIFTY AUTO  NIFTY BANK  NIFTY COMMODITIES  \
0           11167.49     8156.75    27052.40            3218.20
1           11278.19     8371.45    27159.25            3272.55
2           11365.46     8635.70    27764.60            3438.45
3           11705.23     8567.04    29767.85            3594.60
4           11770.83     8813.90    29687.95            3572.75

   NIFTY CONSR DURBL  NIFTY CONSUMPTION  NIFTY CPSE  NIFTY DIV OPPS 50  \
0           13920.21            4677.70     1954.95            2521.05
1           13982.43            4724.05     1998.90            2561.10
2           14437.68            4787.35     2121.20            2612.50
3           15100.33            4874.40     2266.00            2681.30
4           15563.90            4884.80     2237.20            2684.00

   NIFTY ENERGY  NIFTY FIN SERVICE  NIFTY FINSRV25 50  NIFTY FMCG  \
0      14796.80           11386.80           11241.93    29166.35
1      14762.95           11406.70           11298.53    29327.05
2      15348.35           11613.80           11654.15    29904.05
3      16593.90           12314.85           12247.59    30433.15
4      15944.30           12347.05           12329.02    30418.10

   NIFTY HEALTHCARE  NIFTY INDIA MFG  NIFTY INFRA  NIFTY IT  NIFTY MEDIA  \
0           5038.21          4595.52      2906.75  15588.90      2387.00
1           5089.45          4681.54      2897.60  16003.70      2388.70
2           5154.52          4858.47      3032.80  15582.10      2486.05
3           5262.93          4952.74      3171.95  15495.55      2539.35
4           5279.12          4956.33      3173.65  16150.60      2358.60

   NIFTY METAL  NIFTY MICROCAP250  NIFTY MID SELECT  NIFTY MIDCAP 100  \
0      2796.15            4960.54           4151.10          16476.30
1      2852.10            5064.50           4211.26          16601.90
2      2992.85            5502.35           4424.97          17411.75
3      3027.40            5527.51           4564.80          17936.95
4      3054.10            5442.60           4560.84          17761.25

   NIFTY MIDCAP 150  NIFTY MIDCAP 50  NIFTY MIDSML 400  NIFTY MNC  \
0           5895.20          4512.65           5512.05   12884.90
1           5944.75          4564.70           5571.20   13060.35
2           6204.00          4820.45           5871.50   13251.25
3           6378.45          4962.95           6025.45   13237.10
4           6360.35          4927.55           6016.20   13341.75

   NIFTY NEXT 50  NIFTY PHARMA  NIFTY PSE  NIFTY PSU BANK  NIFTY PVT BANK  \
0       25896.95       8706.35    3139.60         2756.25        15430.25
1       26212.65       8816.20    3176.30         2770.95        15481.50
2       27429.50       9045.65    3379.45         2952.05        15842.70
3       28058.65       9244.60    3606.85         3176.30        17001.90
4       27907.25       9285.45    3485.05         3133.90        16877.05

   NIFTY REALTY  NIFTY SERV SECTOR  NIFTY SMLCAP 100  NIFTY SMLCAP 250  \
0        229.60           14925.70           5828.55           4809.00
1        231.45           15070.20           5923.45           4885.20
2        236.05           15195.55           6358.75           5258.15
3        259.00           15938.40           6610.75           5374.95
4        263.70           16048.15           6561.55           5380.00

   NIFTY SMLCAP 50  NIFTY TOTAL MKT  NIFTY100 EQL WGT  NIFTY100 ESG  \
0          2814.50          4930.74          12423.20       2032.85
1          2875.70          4977.35          12558.00       2052.92
2          3092.30          5116.97          13029.40       2085.44
3          3237.25          5304.81          13435.40       2168.16
4          3187.65          5319.33          13488.65       2175.44

   NIFTY100 LIQ 15  NIFTY100 LOWVOL30  NIFTY100 QUALTY30  NIFTY200 QUALTY30  \
0          3617.15            8388.29            2571.05            9334.25
1          3664.60            8481.40            2610.50            9475.85
2          3787.45            8567.00            2640.30            9559.15
3          3953.20            8784.00            2715.55            9681.25
4          4060.10            8900.75            2732.85            9789.50

   NIFTY50 DIV POINT  NIFTY50 VALUE 20  NIFTY500 MULTICAP  %changedaily
0             129.48           5251.90            5474.74           NaN
1             129.48           5347.45            5531.90      4.000000
2             133.53           5380.15            5751.52     -7.692308
3             139.18           5536.05            5939.11      4.166667
4               0.00           5584.15            5949.36     -8.000000

In [16]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df_filled = fill_nan_values(merged_df)
# check nan values in data frame
print_nan_counts(merged_df)

%changedaily: 2352 (0.10%)
No NaN values found.

In [17]:

# Calculate weekly percentage change
merged_df['%change_weekly'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.pct_change(periods=5) * 100)

# Calculate monthly percentage change
merged_df['%change_monthly'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.pct_change(periods=21) * 100)

# Calculate quarterly percentage change
merged_df['%change_quarterly'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.pct_change(periods=63) * 100)

# Calculate yearly percentage change
merged_df['%change_yearly'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.pct_change(periods=252) * 100)

# Display the last few rows to confirm the new columns
print(merged_df.tail())

              id tradingsymbol  instrument_token timestamps  open_price  \
2259775  3083580         SREEL           8150273 2024-03-28      283.00
2259776  3083584         SREEL           8150273 2024-04-01      276.50
2259777  3083588         SREEL           8150273 2024-04-02      293.55
2259778  3083592         SREEL           8150273 2024-04-03      296.65
2259779  3083598         SREEL           8150273 2024-04-04      309.40

         high_price  low_price  close_price  volume  oi  \
2259775      288.15     270.55       276.40   17496   0
2259776      306.00     276.50       292.05   20563   0
2259777      300.05     287.95       296.65   20317   0
2259778      310.20     295.45       307.80   20637   0
2259779      318.10     304.35       306.00   10655   0

                         created_at  INDIA VIX  NIFTY 100  NIFTY 200  \
2259775  2024-04-04 11:20:04.641525      12.83   22920.70   12329.75
2259776  2024-04-04 11:20:04.641525      12.08   23107.15   12447.20
2259777  2024-04-04 11:20:04.641526      11.65   23138.55   12483.40
2259778  2024-04-04 11:20:04.641526      11.37   23136.60   12492.45
2259779  2024-04-04 11:20:04.641527      11.26   23234.55   12538.75

         NIFTY 50  NIFTY 500  NIFTY ALPHA 50  NIFTY ALPHALOWVOL  NIFTY AUTO  \
2259775  22326.90   20255.15        47200.30           26248.05    21419.10
2259776  22462.00   20492.55        48392.25           26344.25    21385.25
2259777  22453.30   20569.75        48855.40           26485.85    21614.25
2259778  22434.65   20605.70        49245.20           26349.15    21555.35
2259779  22541.20   20686.05        49453.40           26276.60    21661.15

         NIFTY BANK  NIFTY COMMODITIES  NIFTY CONSR DURBL  NIFTY CONSUMPTION  \
2259775    47124.60            8331.65           32337.50           10128.40
2259776    47578.25            8504.60           32517.70           10133.20
2259777    47545.45            8599.90           33122.65           10160.35
2259778    47624.25            8615.95           33145.05           10131.80
2259779    48126.20            8606.85           33290.30           10181.50

         NIFTY CPSE  NIFTY DIV OPPS 50  NIFTY ENERGY  NIFTY FIN SERVICE  \
2259775     5759.35            5719.85      39020.60           20989.10
2259776     5867.10            5784.70      39489.70           21198.40
2259777     5945.90            5811.10      39693.75           21150.95
2259778     6000.85            5843.55      39704.55           21197.25
2259779     5987.75            5841.10      39590.45           21401.60

         NIFTY FINSRV25 50  NIFTY FMCG  NIFTY HEALTHCARE  NIFTY INDIA MFG  \
2259775           22713.50    53949.20          12059.30         12240.00
2259776           22965.45    53889.15          12187.80         12374.65
2259777           22934.75    54096.95          12165.40         12517.80
2259778           23022.60    53866.70          12136.60         12512.35
2259779           23129.45    53714.75          12143.15         12499.65

         NIFTY INFRA  NIFTY IT  NIFTY MEDIA  NIFTY METAL  NIFTY MICROCAP250  \
2259775      8336.00  34898.15      1795.85      8257.20           18958.85
2259776      8423.05  35042.80      1880.05      8562.70           19604.30
2259777      8455.25  34793.95      1914.90      8690.85           19939.55
2259778      8448.20  35047.40      1925.85      8691.20           20252.00
2259779      8409.80  35449.35      1923.55      8699.10           20368.30

         NIFTY MID SELECT  NIFTY MIDCAP 100  NIFTY MIDCAP 150  \
2259775          10525.30          48075.75          17766.00
2259776          10689.45          48912.05          18084.70
2259777          10777.20          49479.30          18286.35
2259778          10814.60          49736.70          18378.60
2259779          10828.30          49776.70          18395.15

         NIFTY MIDCAP 50  NIFTY MIDSML 400  NIFTY MNC  NIFTY NEXT 50  \
2259775         13526.50          16549.90   25873.65       60624.30
2259776         13772.60          16917.40   26113.45       61634.60
2259777         13922.60          17098.55   26347.65       62254.10
2259778         13955.85          17217.95   26290.45       62423.75
2259779         13951.85          17268.70   26291.90       62253.15

         NIFTY PHARMA  NIFTY PSE  NIFTY PSU BANK  NIFTY PVT BANK  \
2259775      18996.15    9122.15         7007.25        23555.85
2259776      19207.90    9292.35         7113.25        23797.90
2259777      19185.15    9447.35         7176.05        23782.25
2259778      19153.05    9528.35         7303.85        23746.90
2259779      19140.35    9480.55         7269.30        24043.60

         NIFTY REALTY  NIFTY SERV SECTOR  NIFTY SMLCAP 100  NIFTY SMLCAP 250  \
2259775        900.65           27843.65          15270.45          14330.50
2259776        939.90           28050.85          15768.40          14762.15
2259777        949.35           27949.45          15960.95          14908.30
2259778        924.85           28029.25          16146.40          15065.35
2259779        925.80           28277.25          16232.05          15166.10

         NIFTY SMLCAP 50  NIFTY TOTAL MKT  NIFTY100 EQL WGT  NIFTY100 ESG  \
2259775          7029.95         11363.90          29233.45       4366.65
2259776          7230.95         11505.30          29595.75       4397.55
2259777          7319.60         11553.70          29771.50       4399.50
2259778          7398.35         11579.30          29787.10       4400.80
2259779          7449.85         11625.15          29795.35       4414.35

         NIFTY100 LIQ 15  NIFTY100 LOWVOL30  NIFTY100 QUALTY30  \
2259775          6417.50           18143.90            5112.25
2259776          6446.20           18229.75            5142.00
2259777          6462.75           18217.95            5166.65
2259778          6477.70           18111.95            5163.30
2259779          6462.30           18125.80            5176.05

         NIFTY200 QUALTY30  NIFTY50 DIV POINT  NIFTY50 VALUE 20  \
2259775           18598.05         220.590000          12211.75
2259776           18735.50           0.000000          12285.85
2259777           18842.30           0.000000          12244.55
2259778           18840.25           0.000000          12266.25
2259779           18829.75         108.005042          12287.35

         NIFTY500 MULTICAP  %changedaily  %change_weekly  %change_monthly  \
2259775           13850.10     -1.444108       -4.127645       -12.780057
2259776           14072.80      5.662084        0.585500        -6.017699
2259777           14157.00      1.575073        2.629303        -3.008010
2259778           14212.30      3.758638        9.478926        -0.789686
2259779           14269.35     -0.584795        9.110358        -3.332807

         %change_quarterly  %change_yearly
2259775         -31.702496       64.377044
2259776         -26.463553       72.250074
2259777         -26.996432       76.105669
2259778         -19.592476       85.142857
2259779         -19.484278       86.018237

In [18]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df_filled = fill_nan_values(merged_df)
# check nan values in data frame
print_nan_counts(merged_df)

%change_weekly: 11508 (0.51%)
%change_monthly: 47994 (2.12%)
%change_quarterly: 142268 (6.30%)
%change_yearly: 539054 (23.85%)
No NaN values found.

In [19]:
# Ensure 'timestamps' column is in datetime format
merged_df['timestamps'] = pd.to_datetime(merged_df['timestamps'])

# Sort the DataFrame by 'instrument_token' and 'timestamps' to ensure chronological order for each instrument
merged_df = merged_df.sort_values(by=['instrument_token', 'timestamps'])

# Calculate EMA for the specified periods for each 'instrument_token'
ema_periods = [5, 10, 20, 50, 100, 200, 300, 400]
for period in ema_periods:
    column_name = f'EMA_{period}'
    merged_df[column_name] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=period, adjust=True).mean())

# Display the first few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'EMA_100', 'EMA_200', 'EMA_300', 'EMA_400']].tail())

        timestamps  instrument_token  close_price       EMA_5      EMA_10  \
2259775 2024-03-28           8150273       276.40  282.029543  286.741925
2259776 2024-04-01           8150273       292.05  285.369695  287.707029
2259777 2024-04-02           8150273       296.65  289.129797  289.333024
2259778 2024-04-03           8150273       307.80  295.353198  292.690656
2259779 2024-04-04           8150273       306.00  298.902132  295.110537

             EMA_20      EMA_50     EMA_100     EMA_200     EMA_300  \
2259775  296.228167  314.790717  312.252225  286.787143  266.836498
2259776  295.830247  313.898924  311.852181  286.839510  267.004058
2259777  295.908318  313.222495  311.551148  286.937127  267.201075
2259778  297.040860  313.009849  311.476868  287.144718  267.470881
2259779  297.894111  312.734953  311.368415  287.332333  267.726931

            EMA_400
2259775  252.452576
2259776  252.650365
2259777  252.870142
2259778  253.144513
2259779  253.408520

In [20]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df_filled = fill_nan_values(merged_df)
# check nan values in data frame
print_nan_counts(merged_df)

No NaN values found.
No NaN values found.

In [21]:
def calculate_rsi(series, period=14):
    # Calculate daily price changes
    delta = series.diff(1)

    # Separate gains and losses
    gain = delta.clip(lower=0)
    loss = -delta.clip(upper=0)

    # Calculate the average of gains and losses
    avg_gain = gain.rolling(window=period).mean()
    avg_loss = loss.rolling(window=period).mean()

    # Calculate the relative strength (RS)
    RS = avg_gain / avg_loss

    # Calculate the RSI
    RSI = 100 - (100 / (1 + RS))
    return RSI

# Ensure the 'timestamps' column is in datetime format and sort the DataFrame
merged_df['timestamps'] = pd.to_datetime(merged_df['timestamps'])
merged_df = merged_df.sort_values(by=['instrument_token', 'timestamps'])

# Calculate RSI for specified periods and add to the DataFrame
merged_df['RSI_9'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: calculate_rsi(x, 9))
merged_df['RSI_14'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: calculate_rsi(x, 14))
merged_df['RSI_21'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: calculate_rsi(x, 21))

# Display the last few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'RSI_9', 'RSI_14', 'RSI_21']].tail())

        timestamps  instrument_token  close_price      RSI_9     RSI_14  \
2259775 2024-03-28           8150273       276.40  19.764012  33.971044
2259776 2024-04-01           8150273       292.05  54.645477  40.521658
2259777 2024-04-02           8150273       296.65  54.589963  46.835443
2259778 2024-04-03           8150273       307.80  68.898043  58.173785
2259779 2024-04-04           8150273       306.00  67.987805  67.138810

            RSI_21
2259775  35.121234
2259776  43.578297
2259777  46.834136
2259778  49.194344
2259779  46.424941

In [22]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df_filled = fill_nan_values(merged_df)
# check nan values in data frame
print_nan_counts(merged_df)

RSI_9: 21809 (0.97%)
RSI_14: 32680 (1.45%)
RSI_21: 48303 (2.14%)
No NaN values found.

In [23]:
print(pd.__version__)

2.0.3

In [24]:
# Function to calculate mean deviation and CCI
def calculate_indicators(df, periods):
    # Pre-calculate Typical Price and store it to avoid recalculating
    TP = (df['high_price'] + df['low_price'] + df['close_price']) / 3
    df['TP'] = TP

    for period in periods:
        # Mean deviation calculation
        SMA_TP = TP.rolling(window=period).mean()
        deviation = TP - SMA_TP
        mean_deviation = deviation.abs().rolling(window=period).mean()
        df[f'mean_deviation_{period}'] = mean_deviation

        # CCI calculation using the previously calculated mean_deviation
        CCI = (TP - SMA_TP) / (0.015 * mean_deviation)
        df[f'CCI_{period}'] = CCI

    # Drop the 'TP' column as it's no longer needed after calculations
    df.drop('TP', axis=1, inplace=True)

    return df

# Assuming 'merged_df' is a pre-existing pandas DataFrame with necessary columns
# Pre-process the DataFrame
merged_df = merged_df.reset_index(drop=True)
merged_df = merged_df.set_index('instrument_token')
merged_df = merged_df.sort_index(level=[0, 1])  # Sort by 'instrument_token' and then timestamps

# Define periods for calculation
periods = [9, 14, 21]

# Calculate mean deviation and CCI in one go to avoid extra memory usage
merged_df = merged_df.groupby('instrument_token', group_keys=False).apply(calculate_indicators, periods)

# Resetting the index after processing
merged_df = merged_df.reset_index(drop=False)

# Display the last few rows to verify the calculations
columns_to_display = ['timestamps', 'instrument_token', 'close_price',
                      'mean_deviation_9', 'mean_deviation_14', 'mean_deviation_21',
                      'CCI_9', 'CCI_14', 'CCI_21']
print(merged_df[columns_to_display].tail())

        timestamps  instrument_token  close_price  mean_deviation_9  \
2259775 2020-09-28           8150273       136.50          1.065226
2259776 2020-09-25           8150273       132.80          0.991358
2259777 2020-09-24           8150273       131.30          1.097531
2259778 2020-10-21           8150273       130.25          1.278807
2259779 2024-04-04           8150273       306.00         18.683745

         mean_deviation_14  mean_deviation_21       CCI_9      CCI_14  \
2259775           2.863946           4.574452   56.557852   28.875693
2259776           2.524065           4.226455  -98.256538  -37.794922
2259777           2.135969           3.833560 -169.741282 -102.923418
2259778           1.889371           3.845616  -96.154465  -90.061059
2259779          13.299575          11.805933  559.778862  818.220452

             CCI_21
2259775  -12.908130
2259776  -43.815724
2259777  -62.798218
2259778  -46.407548
2259779  946.044784

In [25]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df_filled = fill_nan_values(merged_df)
# check nan values in data frame
print_nan_counts(merged_df)

mean_deviation_9: 36620 (1.62%)
CCI_9: 36688 (1.62%)
mean_deviation_14: 59336 (2.63%)
CCI_14: 59350 (2.63%)
mean_deviation_21: 90896 (4.02%)
CCI_21: 90896 (4.02%)
No NaN values found.

In [26]:
# Ensure the 'timestamps' column is in datetime format and sort the DataFrame
merged_df['timestamps'] = pd.to_datetime(merged_df['timestamps'])
merged_df = merged_df.sort_values(by=['instrument_token', 'timestamps'])

# Calculate the 12-period and 26-period EMA for the close price for each 'instrument_token'
merged_df['EMA_12'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=12, adjust=False).mean())
merged_df['EMA_26'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=26, adjust=False).mean())

# Calculate the MACD for each 'instrument_token' by subtracting the 26-period EMA from the 12-period EMA
merged_df['MACD'] = merged_df['EMA_12'] - merged_df['EMA_26']

# Calculate the signal line for each 'instrument_token' as the 9-period EMA of the MACD
merged_df['MACD_signal'] = merged_df.groupby('instrument_token')['MACD'].transform(lambda x: x.ewm(span=9, adjust=False).mean())

# Display the last few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'MACD', 'MACD_signal']].tail())

        timestamps  instrument_token  close_price       MACD  MACD_signal
2258905 2024-03-28           8150273       276.40 -13.047098   -13.101949
2258904 2024-04-01           8150273       292.05 -11.805117   -12.842583
2258903 2024-04-02           8150273       296.65 -10.330573   -12.340181
2259347 2024-04-03           8150273       307.80  -8.168117   -11.505768
2259779 2024-04-04           8150273       306.00  -6.524391   -10.509493

In [27]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df_filled = fill_nan_values(merged_df)
# check nan values in data frame
print_nan_counts(merged_df)

No NaN values found.
No NaN values found.

In [28]:
# Define the period for the Bollinger Bands
period = 20

# Ensure the 'timestamps' column is in datetime format and sort the DataFrame
merged_df['timestamps'] = pd.to_datetime(merged_df['timestamps'])
merged_df = merged_df.sort_values(by=['instrument_token', 'timestamps'])

# Calculate the Middle Band as the 20-day SMA of the closing prices
merged_df['BB_middle'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=period).mean())

# Calculate the Standard Deviation of the closing prices over the last 20 days
merged_df['BB_std'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=period).std())

# Calculate the Upper and Lower Bands for each 'instrument_token'
merged_df['BB_upper'] = merged_df['BB_middle'] + (2 * merged_df['BB_std'])
merged_df['BB_lower'] = merged_df['BB_middle'] - (2 * merged_df['BB_std'])

# Display the last few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'BB_middle', 'BB_upper', 'BB_lower']].tail())

        timestamps  instrument_token  close_price  BB_middle    BB_upper  \
2258905 2024-03-28           8150273       276.40   295.7725  321.312674
2258904 2024-04-01           8150273       292.05   295.0825  320.218787
2258903 2024-04-02           8150273       296.65   294.4025  318.526576
2259347 2024-04-03           8150273       307.80   293.9650  316.673753
2259779 2024-04-04           8150273       306.00   293.8775  316.375113

           BB_lower
2258905  270.232326
2258904  269.946213
2258903  270.278424
2259347  271.256247
2259779  271.379887

In [29]:
# check nan values in data frame
print_nan_counts(merged_df)

BB_middle: 43448 (1.92%)
BB_std: 43448 (1.92%)
BB_upper: 43448 (1.92%)
BB_lower: 43448 (1.92%)

In [30]:
# Ensure the 'timestamps' column is in datetime format and sort the DataFrame
merged_df['timestamps'] = pd.to_datetime(merged_df['timestamps'])
# Sort the DataFrame by 'instrument_token' and 'timestamps' to ensure chronological order for each instrument
merged_df = merged_df.sort_values(by=['instrument_token', 'timestamps'])

# Calculate the VWAP on a rolling 5-day basis for each 'instrument_token'
# Using 'as_index=False' in groupby keeps the original index after applying the function
merged_df['VWAP_weekly'] = merged_df.groupby('instrument_token', as_index=False).apply(
    lambda x: (x['close_price'] * x['volume']).rolling(window=5).sum() / x['volume'].rolling(window=5).sum()
).reset_index(level=0, drop=True)

# Calculate the percentage change of the current close_price with VWAP_weekly
merged_df['%change_close_VWAP'] = ((merged_df['close_price'] - merged_df['VWAP_weekly']) / merged_df['VWAP_weekly']) * 100

# Display the last few rows to confirm the new columns and the calculation
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'VWAP_weekly', '%change_close_VWAP']].tail())

        timestamps  instrument_token  close_price  volume  VWAP_weekly  \
2258905 2024-03-28           8150273       276.40   17496   283.379540
2258904 2024-04-01           8150273       292.05   20563   284.043248
2258903 2024-04-02           8150273       296.65   20317   285.619840
2259347 2024-04-03           8150273       307.80   20637   290.957013
2259779 2024-04-04           8150273       306.00   10655   295.321131

         %change_close_VWAP
2258905           -2.462965
2258904            2.818850
2258903            3.861833
2259347            5.788823
2259779            3.616019

In [31]:
# Ensure the 'timestamps' column is in datetime format and sort the DataFrame
merged_df['timestamps'] = pd.to_datetime(merged_df['timestamps'])
merged_df.sort_values(by=['instrument_token', 'timestamps'], inplace=True)

# Utilize less RAM by performing operations within groupby and minimizing intermediate variable storage
def calculate_vwap_changes(df):
    # Calculate VWAP on a monthly and yearly basis
    VWAP_monthly = (df['close_price'] * df['volume']).rolling(window=21).sum() / df['volume'].rolling(window=21).sum()
    VWAP_yearly = (df['close_price'] * df['volume']).rolling(window=252).sum() / df['volume'].rolling(window=252).sum()

    # Calculate the percentage change of the current close_price with VWAP_monthly and VWAP_yearly
    df['%change_close_VWAP_monthly'] = ((df['close_price'] - VWAP_monthly) / VWAP_monthly) * 100
    df['%change_close_VWAP_yearly'] = ((df['close_price'] - VWAP_yearly) / VWAP_yearly) * 100

    return df

merged_df = merged_df.groupby('instrument_token').apply(calculate_vwap_changes)

# Display the last few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', '%change_close_VWAP_monthly', '%change_close_VWAP_yearly']].tail())

                         timestamps  instrument_token  close_price  volume  \
instrument_token
8150273          2258905 2024-03-28           8150273       276.40   17496
                 2258904 2024-04-01           8150273       292.05   20563
                 2258903 2024-04-02           8150273       296.65   20317
                 2259347 2024-04-03           8150273       307.80   20637
                 2259779 2024-04-04           8150273       306.00   10655

                          %change_close_VWAP_monthly  \
instrument_token
8150273          2258905                   -5.973669
                 2258904                   -0.225720
                 2258903                    1.531357
                 2259347                    5.178941
                 2259779                    4.497830

                          %change_close_VWAP_yearly
instrument_token
8150273          2258905                  -8.632089
                 2258904                  -3.578867
                 2258903                  -2.067788
                 2259347                   1.564808
                 2259779                   0.850016

In [32]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df_filled = fill_nan_values(merged_df)
# check nan values in data frame
print_nan_counts(merged_df)

BB_middle: 43448 (1.92%)
BB_std: 43448 (1.92%)
BB_upper: 43448 (1.92%)
BB_lower: 43448 (1.92%)
VWAP_weekly: 83180 (3.68%)
%change_close_VWAP: 83180 (3.68%)
%change_close_VWAP_monthly: 118774 (5.26%)
%change_close_VWAP_yearly: 596465 (26.39%)
No NaN values found.

In [33]:
# diff_52_week_high
# diff_from_52_week_low in % terms

In [34]:
# Ensure the 'timestamps' column is in datetime format
merged_df['timestamps'] = pd.to_datetime(merged_df['timestamps'])

# If the DataFrame has a multi-level index, handle it properly
if 'instrument_token' in merged_df.index.names or 'level_1' in merged_df.index.names:
    # Rename the index levels to avoid conflicts when they are reset to columns
    merged_df = merged_df.rename_axis(index={name: f'index_{name}' for name in merged_df.index.names})

# Now safely reset the index
merged_df = merged_df.reset_index()

# Ensure no duplicate columns after reset
merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

# Sort the DataFrame by 'instrument_token' and 'timestamps'
merged_df.sort_values(by=['instrument_token', 'timestamps'], inplace=True)

# Calculate the percentage difference from the 52-week high and low for each 'instrument_token'
merged_df['%diff_52_week_high'] = merged_df.groupby('instrument_token')['close_price'].transform(
    lambda x: (x - x.rolling(window=252).max()) / x.rolling(window=252).max() * 100
)
merged_df['%diff_from_52_week_low'] = merged_df.groupby('instrument_token')['close_price'].transform(
    lambda x: (x - x.rolling(window=252).min()) / x.rolling(window=252).min() * 100
)

# Display the last few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', '%diff_52_week_high', '%diff_from_52_week_low']].tail())

        timestamps  instrument_token  close_price  %diff_52_week_high  \
2259775 2024-03-28           8150273       276.40          -31.979820
2259776 2024-04-01           8150273       292.05          -28.128461
2259777 2024-04-02           8150273       296.65          -26.996432
2259778 2024-04-03           8150273       307.80          -24.252492
2259779 2024-04-04           8150273       306.00          -24.695460

         %diff_from_52_week_low
2259775               68.024316
2259776               77.537994
2259777               80.334347
2259778               87.112462
2259779               84.281843

In [35]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df_filled = fill_nan_values(merged_df)
# # check nan values in data frame
print_nan_counts(merged_df)

%diff_52_week_high: 537042 (23.77%)
%diff_from_52_week_low: 537077 (23.77%)
No NaN values found.

In [36]:
def calculate_pvroc_and_volume_roc(df, period=14):
    # Calculate the Rate of Change for the price
    price_roc = df['close_price'].pct_change(periods=period) * 100

    # Calculate the Rate of Change for the volume
    volume_roc = df['volume'].pct_change(periods=period) * 100
    df[f'Volume_ROC_{period}'] = volume_roc  # Store the volume rate of change

    # Combine the two to get a Price-Volume Rate of Change
    df[f'PVROC_{period}'] = price_roc * volume_roc

    return df

# Apply the PVROC and Volume ROC function to the DataFrame
periods = [7, 14, 28, 56, 252]  # You can choose periods that make sense for your analysis
for period in periods:
    merged_df = calculate_pvroc_and_volume_roc(merged_df, period)

# Display the first few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'Volume_ROC_7', 'PVROC_7', 'Volume_ROC_14', 'PVROC_14', 'Volume_ROC_28', 'PVROC_28', 'Volume_ROC_56', 'PVROC_56', 'Volume_ROC_252', 'PVROC_252']].tail())

        timestamps  instrument_token  close_price  volume  Volume_ROC_7  \
2259775 2024-03-28           8150273       276.40   17496     63.958392
2259776 2024-04-01           8150273       292.05   20563     87.669983
2259777 2024-04-02           8150273       296.65   20317     25.405839
2259778 2024-04-03           8150273       307.80   20637     27.294597
2259779 2024-04-04           8150273       306.00   10655    -47.045375

            PVROC_7  Volume_ROC_14    PVROC_14  Volume_ROC_28    PVROC_28  \
2259775 -360.298213      -4.367313   44.042524     -50.686321  733.947972
2259776   78.750028      24.367969 -158.735010     -32.739108  359.276902
2259777   73.582642      18.425041  -39.506108     -13.947480  133.116670
2259778  164.040197     -21.574067 -123.375654     -32.362099  169.382907
2259779 -275.875840     -69.709461 -764.718475     -42.978701  219.258684

         Volume_ROC_56     PVROC_56  Volume_ROC_252     PVROC_252
2259775     -71.502565  1938.413428      127.250292   8191.997702
2259776     -56.881042  1313.042747      -47.911442  -3461.605224
2259777     -63.861615  1299.011102      517.725753  39401.864928
2259778     -46.633049   834.643259       54.295327   4622.859279
2259779     -81.512328  1361.312460      -69.369861  -5967.073188

In [37]:
def calculate_atr(df, period=14):
    # Calculate the true range (TR)
    high_low = df['high_price'] - df['low_price']
    high_close = (df['high_price'] - df['close_price'].shift()).abs()
    low_close = (df['low_price'] - df['close_price'].shift()).abs()
    tr = pd.concat([high_low, high_close, low_close], axis=1).max(axis=1)

    # Calculate the ATR as the rolling average of the TR
    atr = tr.rolling(window=period).mean()

    return atr

# Group by instrument_token and apply the ATR calculation function
merged_df['ATR_14'] = merged_df.groupby('instrument_token').apply(lambda x: calculate_atr(x, 14)).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'high_price', 'low_price', 'close_price', 'ATR_14']].tail())

        timestamps  instrument_token  high_price  low_price  close_price  \
2259775 2024-03-28           8150273      288.15     270.55       276.40
2259776 2024-04-01           8150273      306.00     276.50       292.05
2259777 2024-04-02           8150273      300.05     287.95       296.65
2259778 2024-04-03           8150273      310.20     295.45       307.80
2259779 2024-04-04           8150273      318.10     304.35       306.00

            ATR_14
2259775  15.603571
2259776  17.175000
2259777  17.196429
2259778  16.775000
2259779  16.139286

In [38]:
def calculate_obv(df):
    # Calculate the daily price change
    price_change = df['close_price'].diff()

    # Determine the direction of trade for each day
    direction = price_change.apply(np.sign)

    # Calculate OBV by cumulatively summing the volume adjusted by its trading direction
    obv = (direction * df['volume']).cumsum()

    return obv

# Apply the OBV function to the DataFrame, grouped by 'instrument_token'
merged_df['OBV'] = merged_df.groupby('instrument_token').apply(calculate_obv).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'OBV']].tail())

        timestamps  instrument_token  close_price  volume        OBV
2259775 2024-03-28           8150273       276.40   17496  7130770.0
2259776 2024-04-01           8150273       292.05   20563  7151333.0
2259777 2024-04-02           8150273       296.65   20317  7171650.0
2259778 2024-04-03           8150273       307.80   20637  7192287.0
2259779 2024-04-04           8150273       306.00   10655  7181632.0

In [39]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df = fill_nan_values(merged_df)
# # check nan values in data frame
print_nan_counts(merged_df)

Volume_ROC_7: 74155 (3.28%)
PVROC_7: 74155 (3.28%)
Volume_ROC_14: 74078 (3.28%)
PVROC_14: 74078 (3.28%)
Volume_ROC_28: 73924 (3.27%)
PVROC_28: 73924 (3.27%)
Volume_ROC_56: 73616 (3.26%)
PVROC_56: 73616 (3.26%)
Volume_ROC_252: 71460 (3.16%)
PVROC_252: 71460 (3.16%)
ATR_14: 29774 (1.32%)
OBV: 2300 (0.10%)
No NaN values found.

In [40]:
def calculate_volume_rsi(df, period=14):
    # Calculate daily volume change
    delta_volume = df['volume'].diff()

    # Separate the up-volume and down-volume
    up_volume = delta_volume.clip(lower=0)
    down_volume = -delta_volume.clip(upper=0)

    # Calculate the exponential moving average of up-volume and down-volume
    avg_up_volume = up_volume.rolling(window=period).mean()
    avg_down_volume = down_volume.rolling(window=period).mean()

    # Calculate the Volume RSI
    RS = avg_up_volume / avg_down_volume
    volume_rsi = 100 - (100 / (1 + RS))

    return volume_rsi

# Apply the Volume RSI function to each group in the DataFrame
merged_df['Volume_RSI_14'] = merged_df.groupby('instrument_token').apply(lambda x: calculate_volume_rsi(x, 14)).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'Volume_RSI_14']].tail())

        timestamps  instrument_token  close_price  volume  Volume_RSI_14
2259775 2024-03-28           8150273       276.40   17496      49.381589
2259776 2024-04-01           8150273       292.05   20563      53.056580
2259777 2024-04-02           8150273       296.65   20317      52.411836
2259778 2024-04-03           8150273       307.80   20637      44.993209
2259779 2024-04-04           8150273       306.00   10655      28.792832

In [41]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df = fill_nan_values(merged_df)
# # check nan values in data frame
print_nan_counts(merged_df)

Volume_RSI_14: 105601 (4.67%)
No NaN values found.

In [42]:
def calculate_vpt(df):
    # Calculate percentage change in price
    price_change = df['close_price'].pct_change()

    # Calculate the VPT
    vpt = (df['volume'] * price_change).cumsum()

    return vpt

# Apply the VPT function to each group in the DataFrame
merged_df['VPT'] = merged_df.groupby('instrument_token').apply(lambda x: calculate_vpt(x)).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'VPT']].tail())

        timestamps  instrument_token  close_price  volume            VPT
2259775 2024-03-28           8150273       276.40   17496  933785.349818
2259776 2024-04-01           8150273       292.05   20563  934949.644138
2259777 2024-04-02           8150273       296.65   20317  935269.651671
2259778 2024-04-03           8150273       307.80   20637  936045.321821
2259779 2024-04-04           8150273       306.00   10655  935983.011880

In [43]:
def calculate_mfi(group, period=14):
    # Calculate Typical Price
    typical_price = (group['high_price'] + group['low_price'] + group['close_price']) / 3

    # Calculate Raw Money Flow
    raw_money_flow = typical_price * group['volume']

    # Shift the typical price to compare with the previous day
    shifted_typical_price = typical_price.shift(1)

    # Calculate Positive and Negative Money Flow
    positive_flow = pd.Series(np.where(typical_price > shifted_typical_price, raw_money_flow, 0), index=group.index)
    negative_flow = pd.Series(np.where(typical_price < shifted_typical_price, raw_money_flow, 0), index=group.index)

    # Calculate the 14-period sum of Positive and Negative Money Flow
    positive_flow_sum = positive_flow.rolling(window=period).sum()
    negative_flow_sum = negative_flow.rolling(window=period).sum()

    # Calculate Money Flow Ratio
    money_flow_ratio = positive_flow_sum / negative_flow_sum

    # Calculate Money Flow Index
    mfi = 100 - (100 / (1 + money_flow_ratio))

    return mfi

# Apply the MFI function to each group in the DataFrame and compute MFI
merged_df['MFI_14'] = merged_df.groupby('instrument_token', group_keys=False).apply(calculate_mfi)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'MFI_14']].tail())

        timestamps  instrument_token  close_price  volume     MFI_14
2259775 2024-03-28           8150273       276.40   17496  29.806247
2259776 2024-04-01           8150273       292.05   20563  30.582263
2259777 2024-04-02           8150273       296.65   20317  38.068185
2259778 2024-04-03           8150273       307.80   20637  47.138594
2259779 2024-04-04           8150273       306.00   10655  56.446131

In [44]:
def calculate_cmo(df, period=10):
    # Calculate price change from previous day
    delta = df['close_price'].diff()

    # Sum of gains and losses
    gain = delta.where(delta > 0, 0).rolling(window=period).sum()
    loss = -delta.where(delta < 0, 0).rolling(window=period).sum()

    # Calculate the Chande Momentum Oscillator
    cmo = ((gain - loss) / (gain + loss)) * 100

    return cmo

# Apply the CMO function to each group in the DataFrame
merged_df['CMO_10'] = merged_df.groupby('instrument_token').apply(lambda x: calculate_cmo(x)).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'CMO_10']].tail())

        timestamps  instrument_token  close_price     CMO_10
2259775 2024-03-28           8150273       276.40   1.180745
2259776 2024-04-01           8150273       292.05  -9.788093
2259777 2024-04-02           8150273       296.65  18.461538
2259778 2024-04-03           8150273       307.80  28.653846
2259779 2024-04-04           8150273       306.00  32.869911

In [45]:
# check nan values in data frame
print_nan_counts(merged_df)
# Using the function to fill NaN values in merged_df
merged_df = fill_nan_values(merged_df)
# # check nan values in data frame
print_nan_counts(merged_df)

VPT: 2357 (0.10%)
MFI_14: 103437 (4.58%)
CMO_10: 21644 (0.96%)
No NaN values found.

In [46]:
print(merged_df.columns)

Index(['index_instrument_token', 'index_None', 'instrument_token', 'id',
       'tradingsymbol', 'timestamps', 'open_price', 'high_price', 'low_price',
       'close_price',
       ...
       'Volume_ROC_56', 'PVROC_56', 'Volume_ROC_252', 'PVROC_252', 'ATR_14',
       'OBV', 'Volume_RSI_14', 'VPT', 'MFI_14', 'CMO_10'],
      dtype='object', length=116)

In [47]:
print(len(merged_df))

2259780

In [48]:
total_memory_usage = merged_df.memory_usage(deep=True).sum()
print(f"Total memory usage: {total_memory_usage / (1024**2)} MB")

Total memory usage: 2284.2801656723022 MB

In [49]:
desired_chunk_size_mb = 500  # Desired chunk size in MB
row_memory = total_memory_usage / len(merged_df)  # Average memory usage per row
chunk_size = int((desired_chunk_size_mb * (1024**2)) / row_memory)  # Number of rows per chunk
print(f"Chunk size: {chunk_size} rows")

Chunk size: 494637 rows

In [50]:
# # saving merged_df in drive
# merged_df.to_csv('/content/drive/My Drive/merged_data.csv', index=True)  # Save to Drive

# chunk_size = 100000  # Adjust based on your needs
# for i in range(0, len(merged_df), chunk_size):
#     chunk = merged_df.iloc[i:i+chunk_size]
#     chunk.to_csv(f'/content/drive/My Drive/stocks_data/merged_data_part_{i//chunk_size}.csv', index=True)

In [53]:
# Define the list of indicators to be used for momentum score calculation
# List of all columns for which you want to calculate the correlation
indicators = [
    'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'EMA_100', 'EMA_200', 'EMA_300', 'EMA_400',
              'RSI_9', 'RSI_14', 'RSI_21', 'mean_deviation_9', 'mean_deviation_14', 'mean_deviation_21',
    'CCI_9', 'CCI_14', 'CCI_21', 'EMA_12', 'EMA_26', 'MACD', 'MACD_signal',
    'BB_middle', 'BB_std', 'BB_upper', 'BB_lower', 'VWAP_weekly',
           '%change_close_VWAP_monthly', '%change_close_VWAP_yearly', '%change_close_VWAP',
              '%diff_52_week_high', '%diff_from_52_week_low',
    'Volume_ROC_7', 'PVROC_7', 'Volume_ROC_14', 'PVROC_14', 'Volume_ROC_28', 'PVROC_28',
    'Volume_ROC_56', 'PVROC_56', 'Volume_ROC_252', 'PVROC_252', 'ATR_14', 'OBV', 'Volume_RSI_14',
    'CMO_10', 'volume',
    'INDIA VIX', 'NIFTY 100', 'NIFTY 200', 'NIFTY 50', 'NIFTY 500',
    'NIFTY ALPHA 50', 'NIFTY ALPHALOWVOL', 'NIFTY AUTO', 'NIFTY BANK',
    'NIFTY COMMODITIES', 'NIFTY CONSR DURBL', 'NIFTY CONSUMPTION',
    'NIFTY CPSE', 'NIFTY DIV OPPS 50', 'NIFTY ENERGY', 'NIFTY FIN SERVICE',
    'NIFTY FINSRV25 50', 'NIFTY FMCG', 'NIFTY HEALTHCARE',
     'NIFTY INDIA MFG', 'NIFTY INFRA', 'NIFTY IT',
    'NIFTY MEDIA', 'NIFTY METAL',
    'NIFTY MICROCAP250', 'NIFTY MID SELECT', 'NIFTY MIDCAP 100',
    'NIFTY MIDCAP 150', 'NIFTY MIDCAP 50', 'NIFTY MIDSML 400', 'NIFTY MNC',
    'NIFTY NEXT 50',  'NIFTY PHARMA', 'NIFTY PSE',
    'NIFTY PSU BANK', 'NIFTY PVT BANK', 'NIFTY REALTY', 'NIFTY SERV SECTOR',
    'NIFTY SMLCAP 100', 'NIFTY SMLCAP 250', 'NIFTY SMLCAP 50', 'NIFTY TOTAL MKT',
    'NIFTY100 EQL WGT', 'NIFTY100 ESG', 'NIFTY100 LIQ 15', 'NIFTY100 LOWVOL30',
    'NIFTY100 QUALTY30',  'NIFTY200 QUALTY30']

# Convert indicator columns to numeric, handling errors and ensuring no data loss
for column in indicators:
    merged_df[column] = pd.to_numeric(merged_df[column], errors='coerce')

# Function to normalize indicators and calculate momentum score
def normalize_and_calculate_momentum(group):
    normalized = (group[indicators] - group[indicators].min()) / (group[indicators].max() - group[indicators].min())
    return normalized.mean(axis=1)

# Apply the function and calculate the momentum score for each instrument_token
momentum_scores = merged_df.groupby('instrument_token').apply(normalize_and_calculate_momentum)

# Ensure that the resulting series aligns with the DataFrame's index
merged_df['momentum_score'] = momentum_scores.values  # Assign the values directly to match the DataFrame's structure

# Display the last few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'momentum_score']].tail())

        timestamps  instrument_token  close_price  momentum_score
2259775 2024-03-28           8150273       276.40        0.649750
2259776 2024-04-01           8150273       292.05        0.670108
2259777 2024-04-02           8150273       296.65        0.682140
2259778 2024-04-03           8150273       307.80        0.690729
2259779 2024-04-04           8150273       306.00        0.700000

<ipython-input-53-719e1e83e8a7>:41: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df['momentum_score'] = momentum_scores.values  # Assign the values directly to match the DataFrame's structure

In [54]:
# prompt: print all the columns of merged_df, all columns, print(merged_df.columns) wont print all columns

# Print all columns using a loop
for column in merged_df:
    print(column)

index_instrument_token
index_None
instrument_token
id
tradingsymbol
timestamps
open_price
high_price
low_price
close_price
volume
oi
created_at
INDIA VIX
NIFTY 100
NIFTY 200
NIFTY 50
NIFTY 500
NIFTY ALPHA 50
NIFTY ALPHALOWVOL
NIFTY AUTO
NIFTY BANK
NIFTY COMMODITIES
NIFTY CONSR DURBL
NIFTY CONSUMPTION
NIFTY CPSE
NIFTY DIV OPPS 50
NIFTY ENERGY
NIFTY FIN SERVICE
NIFTY FINSRV25 50
NIFTY FMCG
NIFTY HEALTHCARE
NIFTY INDIA MFG
NIFTY INFRA
NIFTY IT
NIFTY MEDIA
NIFTY METAL
NIFTY MICROCAP250
NIFTY MID SELECT
NIFTY MIDCAP 100
NIFTY MIDCAP 150
NIFTY MIDCAP 50
NIFTY MIDSML 400
NIFTY MNC
NIFTY NEXT 50
NIFTY PHARMA
NIFTY PSE
NIFTY PSU BANK
NIFTY PVT BANK
NIFTY REALTY
NIFTY SERV SECTOR
NIFTY SMLCAP 100
NIFTY SMLCAP 250
NIFTY SMLCAP 50
NIFTY TOTAL MKT
NIFTY100 EQL WGT
NIFTY100 ESG
NIFTY100 LIQ 15
NIFTY100 LOWVOL30
NIFTY100 QUALTY30
NIFTY200 QUALTY30
NIFTY50 DIV POINT
NIFTY50 VALUE 20
NIFTY500 MULTICAP
%changedaily
%change_weekly
%change_monthly
%change_quarterly
%change_yearly
EMA_5
EMA_10
EMA_20
EMA_50
EMA_100
EMA_200
EMA_300
EMA_400
RSI_9
RSI_14
RSI_21
mean_deviation_9
CCI_9
mean_deviation_14
CCI_14
mean_deviation_21
CCI_21
EMA_12
EMA_26
MACD
MACD_signal
BB_middle
BB_std
BB_upper
BB_lower
VWAP_weekly
%change_close_VWAP
%change_close_VWAP_monthly
%change_close_VWAP_yearly
%diff_52_week_high
%diff_from_52_week_low
Volume_ROC_7
PVROC_7
Volume_ROC_14
PVROC_14
Volume_ROC_28
PVROC_28
Volume_ROC_56
PVROC_56
Volume_ROC_252
PVROC_252
ATR_14
OBV
Volume_RSI_14
VPT
MFI_14
CMO_10
momentum_score

In [55]:
# prompt: Perform statistical analysis on the various technical indicators to understand their relationships and identify potential trading opportunities.

# Perform statistical analysis on the technical indicators

import seaborn as sns
import matplotlib.pyplot as plt

# List of all columns for which you want to calculate the correlation
columns = ['open_price', 'high_price', 'low_price', 'close_price',
    'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'EMA_100', 'EMA_200', 'EMA_300', 'EMA_400',
              'RSI_9', 'RSI_14', 'RSI_21', 'mean_deviation_9', 'mean_deviation_14', 'mean_deviation_21',
    'CCI_9', 'CCI_14', 'CCI_21', 'EMA_12', 'EMA_26', 'MACD', 'MACD_signal',
    'BB_middle', 'BB_std', 'BB_upper', 'BB_lower', 'VWAP_weekly',
           '%change_close_VWAP_monthly', '%change_close_VWAP_yearly', '%change_close_VWAP',
              '%diff_52_week_high', '%diff_from_52_week_low',
    'Volume_ROC_7', 'PVROC_7', 'Volume_ROC_14', 'PVROC_14', 'Volume_ROC_28', 'PVROC_28',
    'Volume_ROC_56', 'PVROC_56', 'Volume_ROC_252', 'PVROC_252', 'ATR_14', 'OBV', 'Volume_RSI_14',
    'CMO_10', 'volume',
    'INDIA VIX', 'NIFTY 100', 'NIFTY 200', 'NIFTY 50', 'NIFTY 500',
    'NIFTY ALPHA 50', 'NIFTY ALPHALOWVOL', 'NIFTY AUTO', 'NIFTY BANK',
    'NIFTY COMMODITIES', 'NIFTY CONSR DURBL', 'NIFTY CONSUMPTION',
    'NIFTY CPSE', 'NIFTY DIV OPPS 50', 'NIFTY ENERGY', 'NIFTY FIN SERVICE',
    'NIFTY FINSRV25 50', 'NIFTY FMCG', 'NIFTY HEALTHCARE',
     'NIFTY INDIA MFG', 'NIFTY INFRA', 'NIFTY IT',
    'NIFTY MEDIA', 'NIFTY METAL',
    'NIFTY MICROCAP250', 'NIFTY MID SELECT', 'NIFTY MIDCAP 100',
    'NIFTY MIDCAP 150', 'NIFTY MIDCAP 50', 'NIFTY MIDSML 400', 'NIFTY MNC',
    'NIFTY NEXT 50',  'NIFTY PHARMA', 'NIFTY PSE',
    'NIFTY PSU BANK', 'NIFTY PVT BANK', 'NIFTY REALTY', 'NIFTY SERV SECTOR',
    'NIFTY SMLCAP 100', 'NIFTY SMLCAP 250', 'NIFTY SMLCAP 50', 'NIFTY TOTAL MKT',
    'NIFTY100 EQL WGT', 'NIFTY100 ESG', 'NIFTY100 LIQ 15', 'NIFTY100 LOWVOL30',
    'NIFTY100 QUALTY30',  'NIFTY200 QUALTY30']

# Calculate correlations among the selected columns
correlations = merged_df[columns].corr()

# Plotting the correlation matrix
plt.figure(figsize=(24, 22))  # Adjust size to better fit the increased number of variables
mask = np.triu(np.ones_like(correlations, dtype=bool))
sns.heatmap(correlations, mask=mask, cmap='coolwarm', square=True, linewidths=.5, cbar_kws={"shrink": .5})
plt.xticks(rotation=45, fontsize=8)  # Adjust font size as needed
plt.yticks(fontsize=8)
plt.title("Correlation Matrix of Stock Data")
plt.show()



# Analyze the correlations to identify potential trading opportunities
# For example, if two indicators are highly correlated, you might consider using one as a confirmation for the other when making trading decisions.

# Perform other statistical analysis as needed, such as calculating standard deviations, skewness, and kurtosis.

KeyboardInterrupt:

In [ ]:
# prompt: count number of columns in merged_df

print(len(merged_df.columns))

In [ ]:
# Find the range of momentum_score across the entire DataFrame
momentum_range = {
    'min_momentum': merged_df['momentum_score'].min(),
    'max_momentum': merged_df['momentum_score'].max()
}

print(momentum_range)

In [ ]:

print(merged_df.tail())

# Assuming merged_df is already defined and contains the columns 'instrument_token', 'timestamps', and 'close_price'

# Sort the DataFrame
merged_df.sort_values(by=['instrument_token', 'timestamps'], inplace=True)

# Calculate the return over the next 22 days and 10 days
# Shift the close price 22 days back and 10 days back and then calculate the return
merged_df['future_return_10'] = merged_df.groupby('instrument_token')['close_price'].shift(-10) / merged_df['close_price'] - 1
merged_df['future_return_22'] = merged_df.groupby('instrument_token')['close_price'].shift(-22) / merged_df['close_price'] - 1


# Create a column where 1 indicates a return greater than 10% in the next 22 days, and 0 otherwise
merged_df['above_10_percent_return_next_10_days'] = (merged_df['future_return_10'] > 0.10).astype(int)
merged_df['above_10_percent_return_next_22_days'] = (merged_df['future_return_22'] > 0.10).astype(int)


# You can drop the 'future_return' column if it's not needed
# merged_df.drop('future_return', axis=1, inplace=True)

# Showing the modified DataFrame
print(merged_df[['instrument_token', 'timestamps', 'close_price', 'above_10_percent_return_next_10_days', 'above_10_percent_return_next_22_days']].tail())

In [ ]:
# Check for NaN values in each column and get their count
nan_counts = merged_df.isna().sum()

# Filter columns that have NaN values and their counts
nan_columns = nan_counts[nan_counts > 0]

# Print each column name and its NaN count explicitly
for column, count in nan_columns.items():
    print(f'{column}: {count}')

In [ ]:
# Import necessary libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.impute import SimpleImputer  # Import SimpleImputer
import numpy as np

# Assuming 'merged_df' has the necessary features and target variable
X = merged_df.drop(['above_10_percent_return_next_10_days', 'tradingsymbol', 'oi', 'created_at'], axis=1)
y = merged_df['above_10_percent_return_next_10_days']

# Convert datetime columns to Unix timestamp (if any)
datetime_cols = X.select_dtypes(include=['datetime64']).columns
for col in datetime_cols:
    X[col] = X[col].astype('int64') // 10**9

# Impute missing values
imputer = SimpleImputer(strategy='mean')  # You can choose 'median' or 'most_frequent' as well
X = imputer.fit_transform(X)

# Check and handle infinite values
X = np.where(np.isfinite(X), X, np.nan)  # Replace infinities with NaN
imputer = SimpleImputer(strategy='mean')  # You can re-use or create a new imputer
X = imputer.fit_transform(X)  # Impute any NaNs created

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# SGDClassifier for Incremental Learning
clf = SGDClassifier(random_state=42)

# Incremental learning
batch_size = 1000  # Adjust based on your memory capacity and dataset size
for start in range(0, X_train.shape[0], batch_size):
    end = min(start + batch_size, X_train.shape[0])
    clf.partial_fit(X_train[start:end], y_train[start:end], classes=np.unique(y_train))

# Make predictions and evaluate the model
y_pred_sgd = clf.predict(X_test)
accuracy_sgd = accuracy_score(y_test, y_pred_sgd)
report_sgd = classification_report(y_test, y_pred_sgd)

# Print model evaluation results for SGDClassifier
print(f'SGD Classifier Accuracy: {accuracy_sgd}\nSGD Classifier Classification Report:\n{report_sgd}')

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler

# Assuming merged_df has the necessary features for the prediction model

# Define features (X) and target (y)
X = merged_df.drop(['above_10_percent_return_next_10_days'], axis=1)
y = merged_df['above_10_percent_return_next_10_days']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Normalize the feature data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Initialize the neural network model
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1, activation='sigmoid')
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train_scaled, y_train, epochs=50, batch_size=32)

# Predict on the testing set
y_pred = model.predict(X_test_scaled)
y_pred = (y_pred > 0.5).astype(int)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(f'Classification Report:\n{report}')