<a href="https://colab.research.google.com/github/maulikam/portfolio-service/blob/master/stock_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Path to your CSV file in Google Drive
file_path = '/content/drive/My Drive/file.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np


# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe
df.head()

,id,tradingsymbol,instrument_token,timestamps,open_price,high_price,low_price,close_price,volume,oi,created_at
0,1239,NIITLTD,2949633,2020-03-02 00:00:00,91.90,94.0,89.00,90.80,830778,0,2024-04-03 13:12:52.176873
1,2836,NIITLTD,2949633,2020-12-22 00:00:00,184.00,185.0,175.70,183.75,3368936,0,2024-04-03 13:12:52.185068
2,7721,KECL,4664321,2023-12-29 00:00:00,111.00,112.0,108.95,110.70,246308,0,2024-04-03 13:12:52.210933
3,7778,NIITLTD,2949633,2023-11-03 00:00:00,121.85,122.0,117.00,118.20,777642,0,2024-04-03 13:12:52.220015
4,13897,GVKPIL,3385857,2019-12-13 00:00:00,4.00,4.8,4.00,4.70,4298830,0,2024-04-03 13:12:54.016105

In [4]:
# List of trading symbols to filter
symbols = ['INDIA VIX', 'NIFTY 100', 'NIFTY 200', 'NIFTY 50', 'NIFTY 500',
       'NIFTY ALPHA 50', 'NIFTY ALPHALOWVOL', 'NIFTY AUTO', 'NIFTY BANK',
       'NIFTY COMMODITIES', 'NIFTY CONSR DURBL', 'NIFTY CONSUMPTION',
       'NIFTY CPSE', 'NIFTY DIV OPPS 50', 'NIFTY ENERGY', 'NIFTY FIN SERVICE',
       'NIFTY FINSRV25 50', 'NIFTY FMCG', 'NIFTY GROWSECT 15',
       'NIFTY HEALTHCARE', 'NIFTY IND DIGITAL', 'NIFTY INDIA MFG',
       'NIFTY INFRA', 'NIFTY IT', 'NIFTY LARGEMID250', 'NIFTY M150 QLTY50',
       'NIFTY MEDIA', 'NIFTY METAL', 'NIFTY MICROCAP250', 'NIFTY MID SELECT',
       'NIFTY MIDCAP 100', 'NIFTY MIDCAP 150', 'NIFTY MIDCAP 50',
       'NIFTY MIDSML 400', 'NIFTY MNC', 'NIFTY NEXT 50', 'NIFTY OIL AND GAS',
       'NIFTY PHARMA', 'NIFTY PSE', 'NIFTY PSU BANK', 'NIFTY PVT BANK',
       'NIFTY REALTY', 'NIFTY SERV SECTOR', 'NIFTY SMLCAP 100',
       'NIFTY SMLCAP 250', 'NIFTY SMLCAP 50', 'NIFTY TOTAL MKT',
       'NIFTY100 EQL WGT', 'NIFTY100 ESG', 'NIFTY100 LIQ 15',
       'NIFTY100 LOWVOL30', 'NIFTY100 QUALTY30', 'NIFTY100ESGSECLDR',
       'NIFTY200 QUALTY30', 'NIFTY200MOMENTM30', 'NIFTY50 DIV POINT',
       'NIFTY50 EQL WGT', 'NIFTY50 VALUE 20', 'NIFTY500 MULTICAP']

# Filter the dataframe for the given symbols
filtered_df = df[df['tradingsymbol'].isin(symbols)]

# Pivot the dataframe to get each trading symbol as a column
pivoted_df = filtered_df.pivot(index='timestamps', columns='tradingsymbol', values='close_price')

# Display the first few rows of the pivoted dataframe
print(pivoted_df.head())

tradingsymbol        INDIA VIX  NIFTY 100  NIFTY 200  NIFTY 50  NIFTY 500  \
timestamps
2019-01-02 00:00:00      16.39   11032.00    5712.10  10792.50    9103.40
2019-01-03 00:00:00      16.79   10914.80    5652.95  10672.25    9014.79
2019-01-04 00:00:00      16.16   10966.15    5680.50  10727.35    9054.90
2019-01-07 00:00:00      16.30   11005.10    5699.10  10771.80    9081.15
2019-01-08 00:00:00      15.70   11031.30    5710.15  10802.15    9098.65

tradingsymbol        NIFTY ALPHA 50  NIFTY ALPHALOWVOL  NIFTY AUTO  \
timestamps
2019-01-02 00:00:00        12108.15           11479.66     8902.65
2019-01-03 00:00:00        11993.65           11411.15     8767.35
2019-01-04 00:00:00        11945.25           11420.46     8809.35
2019-01-07 00:00:00        11982.10           11483.23     8820.00
2019-01-08 00:00:00        11948.90           11440.41     8859.65

tradingsymbol        NIFTY BANK  NIFTY COMMODITIES  ...  NIFTY100 LIQ 15  \
timestamps                                          ...
2019-01-02 00:00:00    27174.70            3364.10  ...          3756.55
2019-01-03 00:00:00    26959.85            3296.05  ...          3702.40
2019-01-04 00:00:00    27195.00            3331.15  ...          3758.35
2019-01-07 00:00:00    27304.55            3345.45  ...          3739.00
2019-01-08 00:00:00    27509.50            3345.85  ...          3798.25

tradingsymbol        NIFTY100 LOWVOL30  NIFTY100 QUALTY30  NIFTY100ESGSECLDR  \
timestamps
2019-01-02 00:00:00            8508.29            2597.15            1816.23
2019-01-03 00:00:00            8437.40            2585.25            1796.82
2019-01-04 00:00:00            8450.45            2583.69            1803.37
2019-01-07 00:00:00            8484.45            2589.00            1810.80
2019-01-08 00:00:00            8468.50            2588.44            1812.72

tradingsymbol        NIFTY200 QUALTY30  NIFTY200MOMENTM30  NIFTY50 DIV POINT  \
timestamps
2019-01-02 00:00:00            9363.51                NaN                NaN
2019-01-03 00:00:00            9296.46                NaN                NaN
2019-01-04 00:00:00            9268.54                NaN                NaN
2019-01-07 00:00:00            9301.26                NaN                NaN
2019-01-08 00:00:00            9300.14                NaN                NaN

tradingsymbol        NIFTY50 EQL WGT  NIFTY50 VALUE 20  NIFTY500 MULTICAP
timestamps
2019-01-02 00:00:00              NaN           5100.50            5717.68
2019-01-03 00:00:00              NaN           5048.45            5669.68
2019-01-04 00:00:00              NaN           5050.00            5691.40
2019-01-07 00:00:00              NaN           5079.25            5702.93
2019-01-08 00:00:00              NaN           5076.64            5711.17

[5 rows x 59 columns]

In [5]:
print(pivoted_df.columns)
print(df.columns)

Index(['INDIA VIX', 'NIFTY 100', 'NIFTY 200', 'NIFTY 50', 'NIFTY 500',
       'NIFTY ALPHA 50', 'NIFTY ALPHALOWVOL', 'NIFTY AUTO', 'NIFTY BANK',
       'NIFTY COMMODITIES', 'NIFTY CONSR DURBL', 'NIFTY CONSUMPTION',
       'NIFTY CPSE', 'NIFTY DIV OPPS 50', 'NIFTY ENERGY', 'NIFTY FIN SERVICE',
       'NIFTY FINSRV25 50', 'NIFTY FMCG', 'NIFTY GROWSECT 15',
       'NIFTY HEALTHCARE', 'NIFTY IND DIGITAL', 'NIFTY INDIA MFG',
       'NIFTY INFRA', 'NIFTY IT', 'NIFTY LARGEMID250', 'NIFTY M150 QLTY50',
       'NIFTY MEDIA', 'NIFTY METAL', 'NIFTY MICROCAP250', 'NIFTY MID SELECT',
       'NIFTY MIDCAP 100', 'NIFTY MIDCAP 150', 'NIFTY MIDCAP 50',
       'NIFTY MIDSML 400', 'NIFTY MNC', 'NIFTY NEXT 50', 'NIFTY OIL AND GAS',
       'NIFTY PHARMA', 'NIFTY PSE', 'NIFTY PSU BANK', 'NIFTY PVT BANK',
       'NIFTY REALTY', 'NIFTY SERV SECTOR', 'NIFTY SMLCAP 100',
       'NIFTY SMLCAP 250', 'NIFTY SMLCAP 50', 'NIFTY TOTAL MKT',
       'NIFTY100 EQL WGT', 'NIFTY100 ESG', 'NIFTY100 LIQ 15',
       'NIFTY100 LOWVOL30', 'NIFTY100 QUALTY30', 'NIFTY100ESGSECLDR',
       'NIFTY200 QUALTY30', 'NIFTY200MOMENTM30', 'NIFTY50 DIV POINT',
       'NIFTY50 EQL WGT', 'NIFTY50 VALUE 20', 'NIFTY500 MULTICAP'],
      dtype='object', name='tradingsymbol')
Index(['id', 'tradingsymbol', 'instrument_token', 'timestamps', 'open_price',
       'high_price', 'low_price', 'close_price', 'volume', 'oi', 'created_at'],
      dtype='object')

In [6]:
# Ensure timestamps is a column in pivoted_df for merging
pivoted_df.reset_index(inplace=True)

# Merge the two dataframes on 'timestamps' column
# Assuming you want to keep all rows and columns from the original df and just add the closing prices from pivoted_df
merged_df = pd.merge(df, pivoted_df, on='timestamps', how='left')

# Display the first few rows of the merged dataframe
print(merged_df.head())

      id tradingsymbol  instrument_token           timestamps  open_price  \
0   1239       NIITLTD           2949633  2020-03-02 00:00:00       91.90
1   2836       NIITLTD           2949633  2020-12-22 00:00:00      184.00
2   7721          KECL           4664321  2023-12-29 00:00:00      111.00
3   7778       NIITLTD           2949633  2023-11-03 00:00:00      121.85
4  13897        GVKPIL           3385857  2019-12-13 00:00:00        4.00

   high_price  low_price  close_price   volume  oi  ... NIFTY100 LIQ 15  \
0        94.0      89.00        90.80   830778   0  ...         3237.00
1       185.0     175.70       183.75  3368936   0  ...         3212.15
2       112.0     108.95       110.70   246308   0  ...         5827.00
3       122.0     117.00       118.20   777642   0  ...         5210.20
4         4.8       4.00         4.70  4298830   0  ...         3783.20

   NIFTY100 LOWVOL30  NIFTY100 QUALTY30  NIFTY100ESGSECLDR  NIFTY200 QUALTY30  \
0            8303.25            2566.50            1874.05            9367.40
1           10586.50            3203.05            2329.40           11908.50
2           17272.30            5044.40                NaN           18453.10
3           14979.40            4385.20                NaN           16192.95
4            8810.79            2685.40            1978.63            9709.95

   NIFTY200MOMENTM30  NIFTY50 DIV POINT  NIFTY50 EQL WGT  NIFTY50 VALUE 20  \
0                NaN             124.87              NaN           5037.45
1           13285.45              82.51         14082.85           6667.45
2           27352.70             181.93         26755.15          11618.70
3           22831.95             177.77         23189.55          10160.10
4                NaN             117.82              NaN           5406.20

   NIFTY500 MULTICAP
0            5631.82
1            6797.15
2           13342.20
3           11655.65
4            5838.18

[5 rows x 70 columns]

In [7]:
# Sort the dataframe by 'timestamps' column in ascending order (oldest to newest)
merged_df = merged_df.sort_values(by='timestamps')

# Display the first few rows of the sorted dataframe
merged_df.head()

,id,tradingsymbol,instrument_token,timestamps,open_price,high_price,low_price,close_price,volume,oi,...,NIFTY100 LIQ 15,NIFTY100 LOWVOL30,NIFTY100 QUALTY30,NIFTY100ESGSECLDR,NIFTY200 QUALTY30,NIFTY200MOMENTM30,NIFTY50 DIV POINT,NIFTY50 EQL WGT,NIFTY50 VALUE 20,NIFTY500 MULTICAP
1999324,1999360,ZEELEARN-BE,5339137,2019-01-02 00:00:00,36.05,36.25,35.55,35.8,50493,0,...,3756.55,8508.29,2597.15,1816.23,9363.51,NaN,NaN,NaN,5100.5,5717.68
2070578,2071402,ADVENZYMES,4617985,2019-01-02 00:00:00,176.85,176.85,174.20,175.0,19928,0,...,3756.55,8508.29,2597.15,1816.23,9363.51,NaN,NaN,NaN,5100.5,5717.68
867537,866382,LT,2939649,2019-01-02 00:00:00,1441.00,1444.90,1417.10,1425.5,2058504,0,...,3756.55,8508.29,2597.15,1816.23,9363.51,NaN,NaN,NaN,5100.5,5717.68
418968,419378,TIRUMALCHM,894977,2019-01-02 00:00:00,112.50,114.20,111.00,111.6,188433,0,...,3756.55,8508.29,2597.15,1816.23,9363.51,NaN,NaN,NaN,5100.5,5717.68
1284606,1283872,SUNDRMBRAK,1069825,2019-01-02 00:00:00,387.00,392.00,382.00,385.9,323,0,...,3756.55,8508.29,2597.15,1816.23,9363.51,NaN,NaN,NaN,5100.5,5717.68

In [8]:
merged_df.tail()

,id,tradingsymbol,instrument_token,timestamps,open_price,high_price,low_price,close_price,volume,oi,...,NIFTY100 LIQ 15,NIFTY100 LOWVOL30,NIFTY100 QUALTY30,NIFTY100ESGSECLDR,NIFTY200 QUALTY30,NIFTY200MOMENTM30,NIFTY50 DIV POINT,NIFTY50 EQL WGT,NIFTY50 VALUE 20,NIFTY500 MULTICAP
992748,992450,GSPL,3378433,2024-04-01 00:00:00,356.55,368.70,355.1,367.00,2230532,0,...,6446.2,18229.75,5142.0,3725.0,18735.5,31204.75,0.0,28323.5,12285.85,14072.8
993380,992686,IRB,3920129,2024-04-01 00:00:00,58.80,61.95,58.7,61.30,23178098,0,...,6446.2,18229.75,5142.0,3725.0,18735.5,31204.75,0.0,28323.5,12285.85,14072.8
2188998,2188912,PREMEXPLN,4453633,2024-04-01 00:00:00,1536.95,1551.00,1501.0,1513.10,17960,0,...,6446.2,18229.75,5142.0,3725.0,18735.5,31204.75,0.0,28323.5,12285.85,14072.8
984670,984041,TVSSRICHAK,3646721,2024-04-01 00:00:00,3942.40,3984.90,3855.2,3868.60,6745,0,...,6446.2,18229.75,5142.0,3725.0,18735.5,31204.75,0.0,28323.5,12285.85,14072.8
2256304,2256305,INDNIPPON,1215233,2024-04-01 00:00:00,699.95,734.65,688.3,728.65,52510,0,...,6446.2,18229.75,5142.0,3725.0,18735.5,31204.75,0.0,28323.5,12285.85,14072.8

In [9]:
# Set the maximum number of columns to display to None (unlimited)
pd.options.display.max_columns = None

print(merged_df.tail())

              id tradingsymbol  instrument_token           timestamps  \
992748    992450          GSPL           3378433  2024-04-01 00:00:00
993380    992686           IRB           3920129  2024-04-01 00:00:00
2188998  2188912     PREMEXPLN           4453633  2024-04-01 00:00:00
984670    984041    TVSSRICHAK           3646721  2024-04-01 00:00:00
2256304  2256305     INDNIPPON           1215233  2024-04-01 00:00:00

         open_price  high_price  low_price  close_price    volume  oi  \
992748       356.55      368.70      355.1       367.00   2230532   0
993380        58.80       61.95       58.7        61.30  23178098   0
2188998     1536.95     1551.00     1501.0      1513.10     17960   0
984670      3942.40     3984.90     3855.2      3868.60      6745   0
2256304      699.95      734.65      688.3       728.65     52510   0

                         created_at  INDIA VIX  NIFTY 100  NIFTY 200  \
992748   2024-04-03 13:15:40.250279      12.08   23107.15    12447.2
993380   2024-04-03 13:15:40.642097      12.08   23107.15    12447.2
2188998  2024-04-03 13:19:35.281364      12.08   23107.15    12447.2
984670   2024-04-03 13:15:39.195173      12.08   23107.15    12447.2
2256304  2024-04-03 13:19:49.248823      12.08   23107.15    12447.2

         NIFTY 50  NIFTY 500  NIFTY ALPHA 50  NIFTY ALPHALOWVOL  NIFTY AUTO  \
992748    22462.0   20492.55        48392.25           26344.25    21385.25
993380    22462.0   20492.55        48392.25           26344.25    21385.25
2188998   22462.0   20492.55        48392.25           26344.25    21385.25
984670    22462.0   20492.55        48392.25           26344.25    21385.25
2256304   22462.0   20492.55        48392.25           26344.25    21385.25

         NIFTY BANK  NIFTY COMMODITIES  NIFTY CONSR DURBL  NIFTY CONSUMPTION  \
992748     47578.25             8504.6            32517.7            10133.2
993380     47578.25             8504.6            32517.7            10133.2
2188998    47578.25             8504.6            32517.7            10133.2
984670     47578.25             8504.6            32517.7            10133.2
2256304    47578.25             8504.6            32517.7            10133.2

         NIFTY CPSE  NIFTY DIV OPPS 50  NIFTY ENERGY  NIFTY FIN SERVICE  \
992748       5867.1             5784.7       39489.7            21198.4
993380       5867.1             5784.7       39489.7            21198.4
2188998      5867.1             5784.7       39489.7            21198.4
984670       5867.1             5784.7       39489.7            21198.4
2256304      5867.1             5784.7       39489.7            21198.4

         NIFTY FINSRV25 50  NIFTY FMCG  NIFTY GROWSECT 15  NIFTY HEALTHCARE  \
992748            22965.45    53889.15            10950.3           12187.8
993380            22965.45    53889.15            10950.3           12187.8
2188998           22965.45    53889.15            10950.3           12187.8
984670            22965.45    53889.15            10950.3           12187.8
2256304           22965.45    53889.15            10950.3           12187.8

         NIFTY IND DIGITAL  NIFTY INDIA MFG  NIFTY INFRA  NIFTY IT  \
992748             7799.75         12374.65      8423.05   35042.8
993380             7799.75         12374.65      8423.05   35042.8
2188998            7799.75         12374.65      8423.05   35042.8
984670             7799.75         12374.65      8423.05   35042.8
2256304            7799.75         12374.65      8423.05   35042.8

         NIFTY LARGEMID250  NIFTY M150 QLTY50  NIFTY MEDIA  NIFTY METAL  \
992748            14102.85            20582.3      1880.05       8562.7
993380            14102.85            20582.3      1880.05       8562.7
2188998           14102.85            20582.3      1880.05       8562.7
984670            14102.85            20582.3      1880.05       8562.7
2256304           14102.85            20582.3      1880.05       8562.7

         NIFTY MICROCAP250  NIFTY MID SELECT  NIFTY MIDCAP 100  \
992748             19604.3          10689.45          48912.05
993380             19604.3          10689.45          48912.05
2188998            19604.3          10689.45          48912.05
984670             19604.3          10689.45          48912.05
2256304            19604.3          10689.45          48912.05

         NIFTY MIDCAP 150  NIFTY MIDCAP 50  NIFTY MIDSML 400  NIFTY MNC  \
992748            18084.7          13772.6           16917.4   26113.45
993380            18084.7          13772.6           16917.4   26113.45
2188998           18084.7          13772.6           16917.4   26113.45
984670            18084.7          13772.6           16917.4   26113.45
2256304           18084.7          13772.6           16917.4   26113.45

         NIFTY NEXT 50  NIFTY OIL AND GAS  NIFTY PHARMA  NIFTY PSE  \
992748         61634.6            11500.3       19207.9    9292.35
993380         61634.6            11500.3       19207.9    9292.35
2188998        61634.6            11500.3       19207.9    9292.35
984670         61634.6            11500.3       19207.9    9292.35
2256304        61634.6            11500.3       19207.9    9292.35

         NIFTY PSU BANK  NIFTY PVT BANK  NIFTY REALTY  NIFTY SERV SECTOR  \
992748          7113.25         23797.9         939.9           28050.85
993380          7113.25         23797.9         939.9           28050.85
2188998         7113.25         23797.9         939.9           28050.85
984670          7113.25         23797.9         939.9           28050.85
2256304         7113.25         23797.9         939.9           28050.85

         NIFTY SMLCAP 100  NIFTY SMLCAP 250  NIFTY SMLCAP 50  NIFTY TOTAL MKT  \
992748            15768.4          14762.15          7230.95          11505.3
993380            15768.4          14762.15          7230.95          11505.3
2188998           15768.4          14762.15          7230.95          11505.3
984670            15768.4          14762.15          7230.95          11505.3
2256304           15768.4          14762.15          7230.95          11505.3

         NIFTY100 EQL WGT  NIFTY100 ESG  NIFTY100 LIQ 15  NIFTY100 LOWVOL30  \
992748           29595.75       4397.55           6446.2           18229.75
993380           29595.75       4397.55           6446.2           18229.75
2188998          29595.75       4397.55           6446.2           18229.75
984670           29595.75       4397.55           6446.2           18229.75
2256304          29595.75       4397.55           6446.2           18229.75

         NIFTY100 QUALTY30  NIFTY100ESGSECLDR  NIFTY200 QUALTY30  \
992748              5142.0             3725.0            18735.5
993380              5142.0             3725.0            18735.5
2188998             5142.0             3725.0            18735.5
984670              5142.0             3725.0            18735.5
2256304             5142.0             3725.0            18735.5

         NIFTY200MOMENTM30  NIFTY50 DIV POINT  NIFTY50 EQL WGT  \
992748            31204.75                0.0          28323.5
993380            31204.75                0.0          28323.5
2188998           31204.75                0.0          28323.5
984670            31204.75                0.0          28323.5
2256304           31204.75                0.0          28323.5

         NIFTY50 VALUE 20  NIFTY500 MULTICAP
992748           12285.85            14072.8
993380           12285.85            14072.8
2188998          12285.85            14072.8
984670           12285.85            14072.8
2256304          12285.85            14072.8

In [10]:
print(merged_df.columns)

Index(['id', 'tradingsymbol', 'instrument_token', 'timestamps', 'open_price',
       'high_price', 'low_price', 'close_price', 'volume', 'oi', 'created_at',
       'INDIA VIX', 'NIFTY 100', 'NIFTY 200', 'NIFTY 50', 'NIFTY 500',
       'NIFTY ALPHA 50', 'NIFTY ALPHALOWVOL', 'NIFTY AUTO', 'NIFTY BANK',
       'NIFTY COMMODITIES', 'NIFTY CONSR DURBL', 'NIFTY CONSUMPTION',
       'NIFTY CPSE', 'NIFTY DIV OPPS 50', 'NIFTY ENERGY', 'NIFTY FIN SERVICE',
       'NIFTY FINSRV25 50', 'NIFTY FMCG', 'NIFTY GROWSECT 15',
       'NIFTY HEALTHCARE', 'NIFTY IND DIGITAL', 'NIFTY INDIA MFG',
       'NIFTY INFRA', 'NIFTY IT', 'NIFTY LARGEMID250', 'NIFTY M150 QLTY50',
       'NIFTY MEDIA', 'NIFTY METAL', 'NIFTY MICROCAP250', 'NIFTY MID SELECT',
       'NIFTY MIDCAP 100', 'NIFTY MIDCAP 150', 'NIFTY MIDCAP 50',
       'NIFTY MIDSML 400', 'NIFTY MNC', 'NIFTY NEXT 50', 'NIFTY OIL AND GAS',
       'NIFTY PHARMA', 'NIFTY PSE', 'NIFTY PSU BANK', 'NIFTY PVT BANK',
       'NIFTY REALTY', 'NIFTY SERV SECTOR', 'NIFTY SMLCAP 100',
       'NIFTY SMLCAP 250', 'NIFTY SMLCAP 50', 'NIFTY TOTAL MKT',
       'NIFTY100 EQL WGT', 'NIFTY100 ESG', 'NIFTY100 LIQ 15',
       'NIFTY100 LOWVOL30', 'NIFTY100 QUALTY30', 'NIFTY100ESGSECLDR',
       'NIFTY200 QUALTY30', 'NIFTY200MOMENTM30', 'NIFTY50 DIV POINT',
       'NIFTY50 EQL WGT', 'NIFTY50 VALUE 20', 'NIFTY500 MULTICAP'],
      dtype='object')

In [11]:
# Ensure 'timestamps' column is in datetime format
merged_df['timestamps'] = pd.to_datetime(merged_df['timestamps'])

# Sort the DataFrame by 'instrument_token' and 'timestamps'
merged_df = merged_df.sort_values(by=['instrument_token', 'timestamps'])

# Calculate the percentage change in 'close_price' for each 'instrument_token'
merged_df['%changedaily'] = merged_df.groupby('instrument_token')['close_price'].pct_change() * 100

# Display the first few rows to confirm the new column
print(merged_df.head())

              id tradingsymbol  instrument_token timestamps  open_price  \
2084374  2084774   GOLDSTAR-SM               257 2019-02-21        1.30
2084375  2084776   GOLDSTAR-SM               257 2019-02-25        1.15
2084376  2084778   GOLDSTAR-SM               257 2019-03-07        1.20
2084377  2084780   GOLDSTAR-SM               257 2019-03-19        1.15
2084378  2084782   GOLDSTAR-SM               257 2019-04-22        1.15

         high_price  low_price  close_price  volume  oi  \
2084374        1.30       1.15         1.25  405000   0
2084375        1.30       1.15         1.30  270000   0
2084376        1.20       1.20         1.20  135000   0
2084377        1.25       1.15         1.25  540000   0
2084378        1.15       1.15         1.15  135000   0

                         created_at  INDIA VIX  NIFTY 100  NIFTY 200  \
2084374  2024-04-03 13:19:17.832737      16.05   10925.05    5617.25
2084375  2024-04-03 13:19:17.832794      15.36   11021.75    5666.20
2084376  2024-04-03 13:19:17.832801      15.29   11244.05    5798.75
2084377  2024-04-03 13:19:17.832802      16.49   11696.50    6025.35
2084378  2024-04-03 13:19:17.832803      24.05   11745.90    6041.30

         NIFTY 50  NIFTY 500  NIFTY ALPHA 50  NIFTY ALPHALOWVOL  NIFTY AUTO  \
2084374  10789.85    8901.70        11568.75           11167.49     8156.75
2084375  10880.10    8983.85        11658.05           11278.19     8371.45
2084376  11058.20    9225.35        11835.35           11365.46     8635.70
2084377  11532.40    9570.15        12002.00           11705.23     8567.04
2084378  11594.45    9599.79        12143.90           11770.83     8813.90

         NIFTY BANK  NIFTY COMMODITIES  NIFTY CONSR DURBL  NIFTY CONSUMPTION  \
2084374    27052.40            3218.20           13920.21            4677.70
2084375    27159.25            3272.55           13982.43            4724.05
2084376    27764.60            3438.45           14437.68            4787.35
2084377    29767.85            3594.60           15100.33            4874.40
2084378    29687.95            3572.75           15563.90            4884.80

         NIFTY CPSE  NIFTY DIV OPPS 50  NIFTY ENERGY  NIFTY FIN SERVICE  \
2084374     1954.95            2521.05      14796.80           11386.80
2084375     1998.90            2561.10      14762.95           11406.70
2084376     2121.20            2612.50      15348.35           11613.80
2084377     2266.00            2681.30      16593.90           12314.85
2084378     2237.20            2684.00      15944.30           12347.05

         NIFTY FINSRV25 50  NIFTY FMCG  NIFTY GROWSECT 15  NIFTY HEALTHCARE  \
2084374           11241.93    29166.35            6022.80           5038.21
2084375           11298.53    29327.05            6102.45           5089.45
2084376           11654.15    29904.05            6204.10           5154.52
2084377           12247.59    30433.15            6243.65           5262.93
2084378           12329.02    30418.10            6114.80           5279.12

         NIFTY IND DIGITAL  NIFTY INDIA MFG  NIFTY INFRA  NIFTY IT  \
2084374            3286.22          4595.52      2906.75  15588.90
2084375            3328.00          4681.54      2897.60  16003.70
2084376            3355.65          4858.47      3032.80  15582.10
2084377            3371.80          4952.74      3171.95  15495.55
2084378            3369.20          4956.33      3173.65  16150.60

         NIFTY LARGEMID250  NIFTY M150 QLTY50  NIFTY MEDIA  NIFTY METAL  \
2084374                NaN            9494.29      2387.00      2796.15
2084375                NaN            9577.01      2388.70      2852.10
2084376                NaN            9974.50      2486.05      2992.85
2084377                NaN           10145.45      2539.35      3027.40
2084378                NaN           10186.56      2358.60      3054.10

         NIFTY MICROCAP250  NIFTY MID SELECT  NIFTY MIDCAP 100  \
2084374            4960.54           4151.10          16476.30
2084375            5064.50           4211.26          16601.90
2084376            5502.35           4424.97          17411.75
2084377            5527.51           4564.80          17936.95
2084378            5442.60           4560.84          17761.25

         NIFTY MIDCAP 150  NIFTY MIDCAP 50  NIFTY MIDSML 400  NIFTY MNC  \
2084374           5895.20          4512.65           5512.05   12884.90
2084375           5944.75          4564.70           5571.20   13060.35
2084376           6204.00          4820.45           5871.50   13251.25
2084377           6378.45          4962.95           6025.45   13237.10
2084378           6360.35          4927.55           6016.20   13341.75

         NIFTY NEXT 50  NIFTY OIL AND GAS  NIFTY PHARMA  NIFTY PSE  \
2084374       25896.95                NaN       8706.35    3139.60
2084375       26212.65                NaN       8816.20    3176.30
2084376       27429.50                NaN       9045.65    3379.45
2084377       28058.65                NaN       9244.60    3606.85
2084378       27907.25                NaN       9285.45    3485.05

         NIFTY PSU BANK  NIFTY PVT BANK  NIFTY REALTY  NIFTY SERV SECTOR  \
2084374         2756.25        15430.25        229.60           14925.70
2084375         2770.95        15481.50        231.45           15070.20
2084376         2952.05        15842.70        236.05           15195.55
2084377         3176.30        17001.90        259.00           15938.40
2084378         3133.90        16877.05        263.70           16048.15

         NIFTY SMLCAP 100  NIFTY SMLCAP 250  NIFTY SMLCAP 50  NIFTY TOTAL MKT  \
2084374           5828.55           4809.00          2814.50          4930.74
2084375           5923.45           4885.20          2875.70          4977.35
2084376           6358.75           5258.15          3092.30          5116.97
2084377           6610.75           5374.95          3237.25          5304.81
2084378           6561.55           5380.00          3187.65          5319.33

         NIFTY100 EQL WGT  NIFTY100 ESG  NIFTY100 LIQ 15  NIFTY100 LOWVOL30  \
2084374          12423.20       2032.85          3617.15            8388.29
2084375          12558.00       2052.92          3664.60            8481.40
2084376          13029.40       2085.44          3787.45            8567.00
2084377          13435.40       2168.16          3953.20            8784.00
2084378          13488.65       2175.44          4060.10            8900.75

         NIFTY100 QUALTY30  NIFTY100ESGSECLDR  NIFTY200 QUALTY30  \
2084374            2571.05            1821.95            9334.25
2084375            2610.50            1842.33            9475.85
2084376            2640.30            1865.15            9559.15
2084377            2715.55            1927.54            9681.25
2084378            2732.85            1939.55            9789.50

         NIFTY200MOMENTM30  NIFTY50 DIV POINT  NIFTY50 EQL WGT  \
2084374                NaN             129.48              NaN
2084375                NaN             129.48              NaN
2084376                NaN             133.53              NaN
2084377                NaN             139.18              NaN
2084378                NaN               0.00              NaN

         NIFTY50 VALUE 20  NIFTY500 MULTICAP  %changedaily
2084374           5251.90            5474.74           NaN
2084375           5347.45            5531.90      4.000000
2084376           5380.15            5751.52     -7.692308
2084377           5536.05            5939.11      4.166667
2084378           5584.15            5949.36     -8.000000

In [12]:
# Assuming daily frequency and trading days as above

# Calculate weekly percentage change
merged_df['%change_weekly'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.pct_change(periods=5) * 100)

# Calculate monthly percentage change
merged_df['%change_monthly'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.pct_change(periods=21) * 100)

# Calculate quarterly percentage change
merged_df['%change_quarterly'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.pct_change(periods=63) * 100)

# Calculate yearly percentage change
merged_df['%change_yearly'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.pct_change(periods=252) * 100)

# Display the last few rows to confirm the new columns
print(merged_df.tail())

            id tradingsymbol  instrument_token timestamps  open_price  \
861934  860920         SREEL           8150273 2024-03-22      296.10
861935  860927         SREEL           8150273 2024-03-26      289.05
861936  860931         SREEL           8150273 2024-03-27      285.90
861937  860935         SREEL           8150273 2024-03-28      283.00
861938  860938         SREEL           8150273 2024-04-01      276.50

        high_price  low_price  close_price  volume  oi  \
861934      296.10     286.05       289.05   20121   0
861935      292.90     278.35       281.15   18196   0
861936      287.65     277.40       280.45   21989   0
861937      288.15     270.55       276.40   17496   0
861938      306.00     276.50       292.05   20563   0

                        created_at  INDIA VIX  NIFTY 100  NIFTY 200  NIFTY 50  \
861934   2024-04-03 13:15:13.70466      12.22   22633.80   12168.75  22096.75
861935  2024-04-03 13:15:13.704662      12.82   22601.35   12173.65  22004.70
861936  2024-04-03 13:15:13.704663      12.70   22698.50   12219.00  22123.65
861937  2024-04-03 13:15:13.705152      12.83   22920.70   12329.75  22326.90
861938  2024-04-03 13:15:13.705808      12.08   23107.15   12447.20  22462.00

        NIFTY 500  NIFTY ALPHA 50  NIFTY ALPHALOWVOL  NIFTY AUTO  NIFTY BANK  \
861934   19994.60        45591.15           25842.80    21046.40    46863.75
861935   20005.25        46511.95           25957.65    21038.30    46600.20
861936   20087.80        46807.35           25990.00    21146.20    46785.95
861937   20255.15        47200.30           26248.05    21419.10    47124.60
861938   20492.55        48392.25           26344.25    21385.25    47578.25

        NIFTY COMMODITIES  NIFTY CONSR DURBL  NIFTY CONSUMPTION  NIFTY CPSE  \
861934            8203.90           31715.65            9994.55     5660.30
861935            8232.85           31862.25            9970.60     5686.50
861936            8237.15           32071.60           10017.00     5671.90
861937            8331.65           32337.50           10128.40     5759.35
861938            8504.60           32517.70           10133.20     5867.10

        NIFTY DIV OPPS 50  NIFTY ENERGY  NIFTY FIN SERVICE  NIFTY FINSRV25 50  \
861934            5664.85      38411.55           20783.55           22476.20
861935            5679.55      38428.50           20705.95           22476.00
861936            5660.00      38690.15           20792.40           22495.40
861937            5719.85      39020.60           20989.10           22713.50
861938            5784.70      39489.70           21198.40           22965.45

        NIFTY FMCG  NIFTY GROWSECT 15  NIFTY HEALTHCARE  NIFTY IND DIGITAL  \
861934    53775.70           10914.60           11851.3            7649.60
861935    53687.70           10857.20           11897.6            7659.45
861936    53543.55           10846.55           11893.5            7654.80
861937    53949.20           10941.75           12059.3            7700.15
861938    53889.15           10950.30           12187.8            7799.75

        NIFTY INDIA MFG  NIFTY INFRA  NIFTY IT  NIFTY LARGEMID250  \
861934         12029.00      8146.40  35188.40           13731.05
861935         12062.00      8167.75  34969.10           13784.40
861936         12111.30      8256.20  34744.35           13822.35
861937         12240.00      8336.00  34898.15           13921.10
861938         12374.65      8423.05  35042.80           14102.85

        NIFTY M150 QLTY50  NIFTY MEDIA  NIFTY METAL  NIFTY MICROCAP250  \
861934           20173.05      1849.80      8130.80           18948.50
861935           20271.45      1819.05      8161.20           18803.80
861936           20236.70      1808.60      8154.95           18925.20
861937           20261.85      1795.85      8257.20           18958.85
861938           20582.30      1880.05      8562.70           19604.30

        NIFTY MID SELECT  NIFTY MIDCAP 100  NIFTY MIDCAP 150  NIFTY MIDCAP 50  \
861934          10402.10          47312.85          17502.80         13329.95
861935          10498.75          47807.65          17664.35         13474.10
861936          10494.85          47837.35          17685.85         13460.05
861937          10525.30          48075.75          17766.00         13526.50
861938          10689.45          48912.05          18084.70         13772.60

        NIFTY MIDSML 400  NIFTY MNC  NIFTY NEXT 50  NIFTY OIL AND GAS  \
861934          16322.15   25455.60        59188.9           11223.00
861935          16422.75   25516.65        59801.5           11304.55
861936          16482.45   25652.00        59911.7           11365.75
861937          16549.90   25873.65        60624.3           11440.90
861938          16917.40   26113.45        61634.6           11500.30

        NIFTY PHARMA  NIFTY PSE  NIFTY PSU BANK  NIFTY PVT BANK  NIFTY REALTY  \
861934      18815.60    8968.25         6888.50        23452.60        874.50
861935      18809.45    9043.85         6895.65        23334.75        888.20
861936      18768.40    8996.05         6828.55        23473.60        895.75
861937      18996.15    9122.15         7007.25        23555.85        900.65
861938      19207.90    9292.35         7113.25        23797.90        939.90

        NIFTY SERV SECTOR  NIFTY SMLCAP 100  NIFTY SMLCAP 250  \
861934           27622.80          15056.75          14161.40
861935           27506.45          15118.35          14167.85
861936           27576.45          15263.90          14283.60
861937           27843.65          15270.45          14330.50
861938           28050.85          15768.40          14762.15

        NIFTY SMLCAP 50  NIFTY TOTAL MKT  NIFTY100 EQL WGT  NIFTY100 ESG  \
861934          6971.50          11222.4          28781.75       4315.35
861935          6981.60          11225.2          28902.60       4314.20
861936          7025.55          11272.4          28885.05       4319.95
861937          7029.95          11363.9          29233.45       4366.65
861938          7230.95          11505.3          29595.75       4397.55

        NIFTY100 LIQ 15  NIFTY100 LOWVOL30  NIFTY100 QUALTY30  \
861934          6304.40           18003.70            5077.30
861935          6294.75           17985.05            5081.05
861936          6356.20           17972.85            5068.20
861937          6417.50           18143.90            5112.25
861938          6446.20           18229.75            5142.00

        NIFTY100ESGSECLDR  NIFTY200 QUALTY30  NIFTY200MOMENTM30  \
861934            3648.85           18470.70           30231.25
861935            3641.35           18536.45           30505.70
861936            3662.95           18469.05           30397.00
861937            3697.85           18598.05           30781.15
861938            3725.00           18735.50           31204.75

        NIFTY50 DIV POINT  NIFTY50 EQL WGT  NIFTY50 VALUE 20  \
861934             220.59         27851.40          12173.10
861935             220.59         27803.35          12130.20
861936             220.59         27789.40          12076.35
861937             220.59         28146.00          12211.75
861938               0.00         28323.50          12285.85

        NIFTY500 MULTICAP  %changedaily  %change_weekly  %change_monthly  \
861934           13671.55     -0.447735        0.277537       -10.358195
861935           13694.80     -2.733091       -4.011608       -12.468867
861936           13756.05     -0.248977       -3.109345       -12.222222
861937           13850.10     -1.444108       -4.127645       -12.780057
861938           14072.80      5.662084        0.585500        -6.017699

        %change_quarterly  %change_yearly
861934         -22.920000       72.670251
861935         -25.444179       68.302903
861936         -30.140740       65.652688
861937         -31.702496       64.377044
861938         -26.463553       72.250074

In [13]:
# Calculate SMA for the specified periods
merged_df['SMA_05'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=5).mean())
merged_df['SMA_10'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=10).mean())
merged_df['SMA_20'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=20).mean())
merged_df['SMA_50'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=50).mean())
merged_df['SMA_100'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=100).mean())
merged_df['SMA_200'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=200).mean())
merged_df['SMA_300'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=300).mean())
merged_df['SMA_400'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=400).mean())

# Display the last few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'SMA_05', 'SMA_10', 'SMA_20', 'SMA_50', 'SMA_100', 'SMA_200', 'SMA_300', 'SMA_400']].tail())

       timestamps  instrument_token  close_price  SMA_05   SMA_10    SMA_20  \
861934 2024-03-22           8150273       289.05  290.01  290.525  301.2300
861935 2024-03-26           8150273       281.15  287.66  288.325  299.3125
861936 2024-03-27           8150273       280.45  285.86  287.255  297.4900
861937 2024-03-28           8150273       276.40  283.48  287.320  295.7725
861938 2024-04-01           8150273       292.05  283.82  286.835  295.0825

         SMA_50   SMA_100    SMA_200     SMA_300     SMA_400
861934  333.335  328.6820  275.06825  245.569500  237.757375
861935  331.611  328.9840  275.47950  245.812500  238.002375
861936  329.957  329.2775  275.90050  246.057833  238.237750
861937  328.380  329.5185  276.31275  246.286167  238.450000
861938  327.010  329.8980  276.79750  246.565333  238.722375

In [14]:
# Calculate EMA for the specified periods
merged_df['EMA_5'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=5, adjust=True).mean())
merged_df['EMA_10'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=10, adjust=True).mean())
merged_df['EMA_20'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=20, adjust=True).mean())
merged_df['EMA_50'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=50, adjust=True).mean())
merged_df['EMA_100'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=100, adjust=True).mean())
merged_df['EMA_200'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=200, adjust=True).mean())
merged_df['EMA_300'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=300, adjust=True).mean())
merged_df['EMA_400'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=400, adjust=True).mean())

# Display the first few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'EMA_5', 'EMA_10', 'EMA_20', 'EMA_50', 'EMA_100', 'EMA_200', 'EMA_300', 'EMA_400']].tail())

       timestamps  instrument_token  close_price       EMA_5      EMA_10  \
861934 2024-03-22           8150273       289.05  289.987207  293.126614
861935 2024-03-26           8150273       281.15  287.041471  290.949048
861936 2024-03-27           8150273       280.45  284.844314  289.040130
861937 2024-03-28           8150273       276.40  282.029543  286.741925
861938 2024-04-01           8150273       292.05  285.369695  287.707029

            EMA_20      EMA_50     EMA_100     EMA_200     EMA_300     EMA_400
861934  302.200737  319.320174  314.289849  287.014630  266.584214  252.045824
861935  300.195905  317.823304  313.633614  286.956276  266.681013  252.191202
861936  298.315343  316.357685  312.976513  286.891536  266.772517  252.332357
861937  296.228167  314.790717  312.252225  286.787143  266.836498  252.452576
861938  295.830247  313.898924  311.852181  286.839510  267.004058  252.650365

In [15]:
def calculate_rsi(series, period=14):
    # Calculate daily price changes
    delta = series.diff(1)

    # Separate gains and losses
    gain = delta.clip(lower=0)
    loss = -delta.clip(upper=0)

    # Calculate the average of gains and losses
    avg_gain = gain.rolling(window=period).mean()
    avg_loss = loss.rolling(window=period).mean()

    # Calculate the relative strength (RS)
    RS = avg_gain / avg_loss

    # Calculate the RSI
    RSI = 100 - (100 / (1 + RS))
    return RSI

# Calculate RSI for specified periods and add to the DataFrame
merged_df['RSI_9'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: calculate_rsi(x, 9))
merged_df['RSI_14'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: calculate_rsi(x, 14))
merged_df['RSI_21'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: calculate_rsi(x, 21))

# Display the first few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'RSI_9', 'RSI_14', 'RSI_21']].tail())

       timestamps  instrument_token  close_price      RSI_9     RSI_14  \
861934 2024-03-22           8150273       289.05  39.899713  36.479843
861935 2024-03-26           8150273       281.15  42.389650  36.805556
861936 2024-03-27           8150273       280.45  54.607843  33.778920
861937 2024-03-28           8150273       276.40  19.764012  33.971044
861938 2024-04-01           8150273       292.05  54.645477  40.521658

           RSI_21
861934  37.054264
861935  35.237744
861936  35.499443
861937  35.121234
861938  43.578297

In [17]:
def add_mean_deviation(df, periods):
    TP = (df['high_price'] + df['low_price'] + df['close_price']) / 3
    for period in periods:
        deviation = TP - TP.rolling(window=period).mean()
        mean_deviation = deviation.abs().rolling(window=period).mean()
        df[f'mean_deviation_{period}'] = mean_deviation

def calculate_cci(df, period):
    TP = (df['high_price'] + df['low_price'] + df['close_price']) / 3
    SMA_TP = TP.rolling(window=period).mean()
    mean_deviation = df[f'mean_deviation_{period}']
    CCI = (TP - SMA_TP) / (0.015 * mean_deviation)
    df[f'CCI_{period}'] = CCI

# Calculate mean deviation for specified periods and store in the DataFrame
periods = [9, 14, 21]
add_mean_deviation(merged_df, periods)

# Calculate CCI for each period using the stored mean deviation
for period in periods:
    calculate_cci(merged_df, period)

# Display the first few rows to verify the calculations
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'mean_deviation_9', 'mean_deviation_14', 'mean_deviation_21', 'CCI_9', 'CCI_14', 'CCI_21']].tail())

       timestamps  instrument_token  close_price  mean_deviation_9  \
861934 2024-03-22           8150273       289.05          8.523663
861935 2024-03-26           8150273       281.15          7.523868
861936 2024-03-27           8150273       280.45          5.635391
861937 2024-03-28           8150273       276.40          5.297737
861938 2024-04-01           8150273       292.05          4.627984

        mean_deviation_14  mean_deviation_21       CCI_9     CCI_14     CCI_21
861934          11.801190          22.439985   -2.476765 -41.057198 -39.986729
861935          11.948724          21.887264  -47.962588 -64.468593 -54.350180
861936          12.285969          21.365193  -91.901563 -63.157603 -56.906583
861937          12.585459          20.850113 -123.835787 -68.124726 -63.372449
861938          12.311139          19.592744   47.963720   9.347580 -19.035770

In [18]:
# Calculate the 12-period EMA and 26-period EMA for the close price
merged_df['EMA_12'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=12, adjust=False).mean())
merged_df['EMA_26'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.ewm(span=26, adjust=False).mean())

# Calculate the MACD by subtracting the 26-period EMA from the 12-period EMA
merged_df['MACD'] = merged_df['EMA_12'] - merged_df['EMA_26']

# Calculate the signal line as the 9-period EMA of the MACD
merged_df['MACD_signal'] = merged_df.groupby('instrument_token')['MACD'].transform(lambda x: x.ewm(span=9, adjust=False).mean())

# Display the first few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'MACD', 'MACD_signal']].tail())

       timestamps  instrument_token  close_price       MACD  MACD_signal
861934 2024-03-22           8150273       289.05 -12.671790   -13.272428
861935 2024-03-26           8150273       281.15 -12.821819   -13.182306
861936 2024-03-27           8150273       280.45 -12.849086   -13.115662
861937 2024-03-28           8150273       276.40 -13.047098   -13.101949
861938 2024-04-01           8150273       292.05 -11.805117   -12.842583

In [19]:
# Define the period for the Bollinger Bands
period = 20

# Calculate the Middle Band, which is the 20-day SMA of the closing prices
merged_df['BB_middle'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=period).mean())

# Calculate the Standard Deviation of the closing prices over the last 20 days
merged_df['BB_std'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=period).std())

# Calculate the Upper and Lower Bands
merged_df['BB_upper'] = merged_df['BB_middle'] + (2 * merged_df['BB_std'])
merged_df['BB_lower'] = merged_df['BB_middle'] - (2 * merged_df['BB_std'])

# Display the first few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'BB_middle', 'BB_upper', 'BB_lower']].tail())

       timestamps  instrument_token  close_price  BB_middle    BB_upper  \
861934 2024-03-22           8150273       289.05   301.2300  325.992204
861935 2024-03-26           8150273       281.15   299.3125  324.057172
861936 2024-03-27           8150273       280.45   297.4900  322.149632
861937 2024-03-28           8150273       276.40   295.7725  321.312674
861938 2024-04-01           8150273       292.05   295.0825  320.218787

          BB_lower
861934  276.467796
861935  274.567828
861936  272.830368
861937  270.232326
861938  269.946213

In [22]:
# Group by instrument_token, then apply the calculation on a rolling 7-day (or 5 trading days) basis
merged_df['VWAP_weekly'] = merged_df.groupby('instrument_token').apply(
    lambda x: (x['close_price'] * x['volume']).rolling(window=5).sum() / x['volume'].rolling(window=5).sum()
).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'VWAP_weekly']].tail())

       timestamps  instrument_token  close_price  volume  VWAP_weekly
861934 2024-03-22           8150273       289.05   20121   289.783408
861935 2024-03-26           8150273       281.15   18196   287.453164
861936 2024-03-27           8150273       280.45   21989   285.556337
861937 2024-03-28           8150273       276.40   17496   283.379540
861938 2024-04-01           8150273       292.05   20563   284.043248

In [23]:
# VWAP monthly calculation assuming approximately 21 trading days in a month
merged_df['VWAP_monthly'] = merged_df.groupby('instrument_token').apply(
    lambda x: (x['close_price'] * x['volume']).rolling(window=21).sum() / x['volume'].rolling(window=21).sum()
).reset_index(level=0, drop=True)

# VWAP yearly calculation assuming approximately 252 trading days in a year
merged_df['VWAP_yearly'] = merged_df.groupby('instrument_token').apply(
    lambda x: (x['close_price'] * x['volume']).rolling(window=252).sum() / x['volume'].rolling(window=252).sum()
).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'VWAP_weekly', 'VWAP_monthly', 'VWAP_yearly']].tail())

       timestamps  instrument_token  close_price  volume  VWAP_weekly  \
861934 2024-03-22           8150273       289.05   20121   289.783408
861935 2024-03-26           8150273       281.15   18196   287.453164
861936 2024-03-27           8150273       280.45   21989   285.556337
861937 2024-03-28           8150273       276.40   17496   283.379540
861938 2024-04-01           8150273       292.05   20563   284.043248

        VWAP_monthly  VWAP_yearly
861934    300.329841   302.178129
861935    298.227100   302.343639
861936    295.622194   302.470001
861937    293.960210   302.513209
861938    292.710707   302.890030

In [24]:
# Calculate the 52-week high for each instrument_token
merged_df['52_week_high'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=252).max())

# Calculate the percentage difference from the 52-week high
merged_df['%diff_52_week_high'] = ((merged_df['close_price'] - merged_df['52_week_high']) / merged_df['52_week_high']) * 100

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', '52_week_high', '%diff_52_week_high']].tail())

       timestamps  instrument_token  close_price  52_week_high  \
861934 2024-03-22           8150273       289.05        406.35
861935 2024-03-26           8150273       281.15        406.35
861936 2024-03-27           8150273       280.45        406.35
861937 2024-03-28           8150273       276.40        406.35
861938 2024-04-01           8150273       292.05        406.35

        %diff_52_week_high
861934          -28.866740
861935          -30.810877
861936          -30.983143
861937          -31.979820
861938          -28.128461

In [25]:
# Calculate the 52-week low for each instrument_token
merged_df['52_week_low'] = merged_df.groupby('instrument_token')['close_price'].transform(lambda x: x.rolling(window=252).min())

# Calculate the percentage difference from the 52-week low
merged_df['%diff_from_52_week_low'] = ((merged_df['close_price'] - merged_df['52_week_low']) / merged_df['52_week_low']) * 100

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', '52_week_low', '%diff_from_52_week_low']].tail())

       timestamps  instrument_token  close_price  52_week_low  \
861934 2024-03-22           8150273       289.05        164.5
861935 2024-03-26           8150273       281.15        164.5
861936 2024-03-27           8150273       280.45        164.5
861937 2024-03-28           8150273       276.40        164.5
861938 2024-04-01           8150273       292.05        164.5

        %diff_from_52_week_low
861934               75.714286
861935               70.911854
861936               70.486322
861937               68.024316
861938               77.537994

In [27]:
def calculate_pvroc_and_volume_roc(df, period=14):
    # Calculate the Rate of Change for the price
    price_roc = df['close_price'].pct_change(periods=period) * 100

    # Calculate the Rate of Change for the volume
    volume_roc = df['volume'].pct_change(periods=period) * 100
    df[f'Volume_ROC_{period}'] = volume_roc  # Store the volume rate of change

    # Combine the two to get a Price-Volume Rate of Change
    df[f'PVROC_{period}'] = price_roc * volume_roc

    return df

# Apply the PVROC and Volume ROC function to the DataFrame
periods = [7, 14, 28, 56, 252]  # You can choose periods that make sense for your analysis
for period in periods:
    merged_df = calculate_pvroc_and_volume_roc(merged_df, period)

# Display the first few rows to confirm the new columns
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'Volume_ROC_7', 'PVROC_7', 'Volume_ROC_14', 'PVROC_14', 'Volume_ROC_28', 'PVROC_28', 'Volume_ROC_56', 'PVROC_56', 'Volume_ROC_252', 'PVROC_252']].tail())

       timestamps  instrument_token  close_price  volume  Volume_ROC_7  \
861934 2024-03-22           8150273       289.05   20121    -42.799068
861935 2024-03-26           8150273       281.15   18196     12.438979
861936 2024-03-27           8150273       280.45   21989     35.742947
861937 2024-03-28           8150273       276.40   17496     63.958392
861938 2024-04-01           8150273       292.05   20563     87.669983

           PVROC_7  Volume_ROC_14     PVROC_14  Volume_ROC_28    PVROC_28  \
861934 -206.428866     554.767328 -4819.491875     -50.471385  613.540612
861935  -65.986501      35.922910  -310.495342     -51.143808  795.689826
861936  -96.719857     143.106689 -1447.120523      12.028734 -187.841528
861937 -360.298213      -4.367313    44.042524     -50.686321  733.947972
861938   78.750028      24.367969  -158.735010     -32.739108  359.276902

        Volume_ROC_56     PVROC_56  Volume_ROC_252    PVROC_252
861934     -75.312262  1803.293216       23.290441  1692.522204
861935     -62.535774  1652.181725       -5.219294  -356.492911
861936     -87.222829  2088.617169       34.777812  2283.256813
861937     -71.502565  1938.413428      127.250292  8191.997702
861938     -56.881042  1313.042747      -47.911442 -3461.605224

In [28]:
def calculate_atr(df, period=14):
    # Calculate the true range (TR)
    high_low = df['high_price'] - df['low_price']
    high_close = (df['high_price'] - df['close_price'].shift()).abs()
    low_close = (df['low_price'] - df['close_price'].shift()).abs()
    tr = pd.concat([high_low, high_close, low_close], axis=1).max(axis=1)

    # Calculate the ATR as the rolling average of the TR
    atr = tr.rolling(window=period).mean()

    return atr

# Group by instrument_token and apply the ATR calculation function
merged_df['ATR_14'] = merged_df.groupby('instrument_token').apply(lambda x: calculate_atr(x, 14)).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'high_price', 'low_price', 'close_price', 'ATR_14']].tail())

       timestamps  instrument_token  high_price  low_price  close_price  \
861934 2024-03-22           8150273      296.10     286.05       289.05
861935 2024-03-26           8150273      292.90     278.35       281.15
861936 2024-03-27           8150273      287.65     277.40       280.45
861937 2024-03-28           8150273      288.15     270.55       276.40
861938 2024-04-01           8150273      306.00     276.50       292.05

           ATR_14
861934  15.667857
861935  15.428571
861936  15.489286
861937  15.603571
861938  17.175000

In [31]:
def calculate_obv(df):
    # Calculate the daily price change
    price_change = df['close_price'].diff()

    # Determine the direction of trade for each day
    direction = price_change.apply(np.sign)

    # Calculate OBV by cumulatively summing the volume adjusted by its trading direction
    obv = (direction * df['volume']).cumsum()

    return obv

# Apply the OBV function to the DataFrame, grouped by 'instrument_token'
merged_df['OBV'] = merged_df.groupby('instrument_token').apply(calculate_obv).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'OBV']].tail())

       timestamps  instrument_token  close_price  volume        OBV
861934 2024-03-22           8150273       289.05   20121  7188451.0
861935 2024-03-26           8150273       281.15   18196  7170255.0
861936 2024-03-27           8150273       280.45   21989  7148266.0
861937 2024-03-28           8150273       276.40   17496  7130770.0
861938 2024-04-01           8150273       292.05   20563  7151333.0

In [32]:
def calculate_volume_rsi(df, period=14):
    # Calculate daily volume change
    delta_volume = df['volume'].diff()

    # Separate the up-volume and down-volume
    up_volume = delta_volume.clip(lower=0)
    down_volume = -delta_volume.clip(upper=0)

    # Calculate the exponential moving average of up-volume and down-volume
    avg_up_volume = up_volume.rolling(window=period).mean()
    avg_down_volume = down_volume.rolling(window=period).mean()

    # Calculate the Volume RSI
    RS = avg_up_volume / avg_down_volume
    volume_rsi = 100 - (100 / (1 + RS))

    return volume_rsi

# Apply the Volume RSI function to each group in the DataFrame
merged_df['Volume_RSI_14'] = merged_df.groupby('instrument_token').apply(lambda x: calculate_volume_rsi(x, 14)).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'Volume_RSI_14']].tail())

       timestamps  instrument_token  close_price  volume  Volume_RSI_14
861934 2024-03-22           8150273       289.05   20121      60.886891
861935 2024-03-26           8150273       281.15   18196      53.439570
861936 2024-03-27           8150273       280.45   21989      59.331296
861937 2024-03-28           8150273       276.40   17496      49.381589
861938 2024-04-01           8150273       292.05   20563      53.056580

In [33]:
def calculate_vpt(df):
    # Calculate percentage change in price
    price_change = df['close_price'].pct_change()

    # Calculate the VPT
    vpt = (df['volume'] * price_change).cumsum()

    return vpt

# Apply the VPT function to each group in the DataFrame
merged_df['VPT'] = merged_df.groupby('instrument_token').apply(lambda x: calculate_vpt(x)).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'VPT']].tail())

       timestamps  instrument_token  close_price  volume            VPT
861934 2024-03-22           8150273       289.05   20121  934590.071810
861935 2024-03-26           8150273       281.15   18196  934092.758542
861936 2024-03-27           8150273       280.45   21989  934038.010899
861937 2024-03-28           8150273       276.40   17496  933785.349818
861938 2024-04-01           8150273       292.05   20563  934949.644138

In [37]:
def calculate_mfi(group, period=14):
    # Calculate Typical Price
    typical_price = (group['high_price'] + group['low_price'] + group['close_price']) / 3

    # Calculate Raw Money Flow
    raw_money_flow = typical_price * group['volume']

    # Shift the typical price to compare with the previous day
    shifted_typical_price = typical_price.shift(1)

    # Calculate Positive and Negative Money Flow
    positive_flow = pd.Series(np.where(typical_price > shifted_typical_price, raw_money_flow, 0), index=group.index)
    negative_flow = pd.Series(np.where(typical_price < shifted_typical_price, raw_money_flow, 0), index=group.index)

    # Calculate the 14-period sum of Positive and Negative Money Flow
    positive_flow_sum = positive_flow.rolling(window=period).sum()
    negative_flow_sum = negative_flow.rolling(window=period).sum()

    # Calculate Money Flow Ratio
    money_flow_ratio = positive_flow_sum / negative_flow_sum

    # Calculate Money Flow Index
    mfi = 100 - (100 / (1 + money_flow_ratio))

    return mfi

# Apply the MFI function to each group in the DataFrame and compute MFI
merged_df['MFI_14'] = merged_df.groupby('instrument_token', group_keys=False).apply(calculate_mfi)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'volume', 'MFI_14']].tail())

       timestamps  instrument_token  close_price  volume     MFI_14
861934 2024-03-22           8150273       289.05   20121  35.231467
861935 2024-03-26           8150273       281.15   18196  34.749384
861936 2024-03-27           8150273       280.45   21989  29.493933
861937 2024-03-28           8150273       276.40   17496  29.806247
861938 2024-04-01           8150273       292.05   20563  30.582263

In [38]:
def calculate_cmo(df, period=10):
    # Calculate price change from previous day
    delta = df['close_price'].diff()

    # Sum of gains and losses
    gain = delta.where(delta > 0, 0).rolling(window=period).sum()
    loss = -delta.where(delta < 0, 0).rolling(window=period).sum()

    # Calculate the Chande Momentum Oscillator
    cmo = ((gain - loss) / (gain + loss)) * 100

    return cmo

# Apply the CMO function to each group in the DataFrame
merged_df['CMO_10'] = merged_df.groupby('instrument_token').apply(lambda x: calculate_cmo(x)).reset_index(level=0, drop=True)

# Display the first few rows to confirm the new column
print(merged_df[['timestamps', 'instrument_token', 'close_price', 'CMO_10']].tail())

       timestamps  instrument_token  close_price     CMO_10
861934 2024-03-22           8150273       289.05 -29.538267
861935 2024-03-26           8150273       281.15 -28.314028
861936 2024-03-27           8150273       280.45 -16.114458
861937 2024-03-28           8150273       276.40   1.180745
861938 2024-04-01           8150273       292.05  -9.788093

In [39]:
print(merged_df.columns)

Index(['id', 'tradingsymbol', 'instrument_token', 'timestamps', 'open_price',
       'high_price', 'low_price', 'close_price', 'volume', 'oi',
       ...
       'Volume_ROC_14', 'Volume_ROC_28', 'Volume_ROC_56', 'Volume_ROC_252',
       'ATR_14', 'OBV', 'Volume_RSI_14', 'VPT', 'MFI_14', 'CMO_10'],
      dtype='object', length=131)

In [ ]:
# Export the merged_df DataFrame to a CSV file
# Import the necessary library
from google.colab import files

# Save your DataFrame to a CSV file
merged_df.to_csv('merged_data.csv', index=False)

# Download the file to your local machine
files.download('merged_data.csv')